<!-- <section class="container">
    <div class="card">
        <div class="card-header">
          {{'Add Doctor' | translate}}
        </div>
        <form #form="ngForm" (ngSubmit)="Add(form.value)">
        <div class="card-body ">
            <div class="container">
                <section class="row">
                    <section class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder=" {{'Enter Name in English' | translate}}" name="EName" [(ngModel)] = "EName">
                        </mat-form-field>
                    </section>
                    <section class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="{{'Enter Name in Arabic' | translate}}" name="AName" [(ngModel)] = "AName">
                        </mat-form-field>
                    </section>
                    <section class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="{{'Enter Title in English' | translate}}" name="ETitle" [(ngModel)] = "ETitle">
                        </mat-form-field>
                    </section>
                    <section class="col-md-3">
                        <mat-form-field>
                            <input matInput placeholder="{{'Enter Title in Arabic' | translate}}" name="ATitle" [(ngModel)] = "ATitle">
                        </mat-form-field>
                    </section>
                </section>
              <section class="row">
                <section class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder=" {{'Enter Bio in English' | translate}}" name="EBio" [(ngModel)] = "EBio">
                    </mat-form-field>
                </section>
                <section class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="{{'Enter Name in Arabic' | translate}}" name="ABio" [(ngModel)] = "ABio">
                    </mat-form-field>
                </section>
                
              <section class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder=" {{'Enter address in English' | translate}}" name="EAddress" [(ngModel)] = "EAddress">
                </mat-form-field>
            </section>
            <section class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'Enter Address in Arabic' | translate}}" name="AAddress" [(ngModel)] = "AAddress">
                </mat-form-field>
            </section>
            </section>
              <section class="row">
                <section class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder=" {{'price' | translate}}" name="price" [(ngModel)] = "price" type="number">
                    </mat-form-field>
                </section>
                <section class="col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="{{'lat' | translate}}" name="lat" [(ngModel)] = "lat" type="number">
                    </mat-form-field>
                </section>
                
              <section class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder=" {{'lang' | translate}}" name="lang" [(ngModel)] = "lang" type="number">
                </mat-form-field>
            </section>
            <section class="col-md-3">
                <mat-form-field>
                    <input matInput placeholder="{{'time' | translate}}" name="time" [(ngModel)] = "time" type="number">
                </mat-form-field>
            </section>
            </section>
            <div class="work">Working hours
            </div>
            <section class="days">
                    <div class="card row">
                        <div class="card-header sunday">
                          Sunday
                        </div>
                        <section class="sun">
                        <section class=" container row ">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="sunfrom" [(ngModel)] = "sunfrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="sunto" [(ngModel)] = "sunto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="sunmax" [(ngModel)] = "sunmax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
            
                      <div class="card row">
                        <div class="card-header monday">
                          Monday
                        </div>
                        <section class="mon">
                        <section class=" container row">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="monfrom" [(ngModel)] = "monfrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="monto" [(ngModel)] = "monto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="monmax" [(ngModel)] = "monmax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                      
                    <div class="card row">
                        <div class="card-header tuesday">
                          Tuesday
                        </div>
                        <section class="tue">
                        <section class=" container row">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="tuefrom" [(ngModel)] = "tuefrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="tueto" [(ngModel)] = "tueto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="tuemax" [(ngModel)] = "tuemax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                      
                    <div class="card row">
                        <div class="card-header wednesday">
                            wednesday
                        </div>
                        <section class="wed">
                        <section class=" container row wed">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="wedfrom" [(ngModel)] = "wedfrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="wedto" [(ngModel)] = "wedto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="wedmax" [(ngModel)] = "wedmax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                      
                    <div class="card row">
                        <div class="card-header Thursday">
                          Thursday
                        </div>
                        <section class="thur">
                        <section class=" container row">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="thrufrom" [(ngModel)] = "thrufrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="thruto" [(ngModel)] = "thruto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="thrumax" [(ngModel)] = "thrumax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                      
                    <div class="card row">
                        <div class="card-header friday">
                          Friday
                        </div>
                        <section class="fri">
                        <section class=" container row ">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="frifrom" [(ngModel)] = "frifrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="frito" [(ngModel)] = "frito" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="frimax" [(ngModel)] = "frimax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                      
                    <div class="card row">
                        <div class="card-header Saturday">
                          Saturday
                        </div>
                        <section class="sat">
                        <section class=" container row ">
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="satfrom" [(ngModel)] = "satfrom" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'from' | translate}}" name="satto" [(ngModel)] = "satto" type="time">
                </mat-form-field>
                            </section>
                            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'max' | translate}}" name="satmax" [(ngModel)] = "satmax" type="number">
                </mat-form-field>
                            </section>
                        </section>
                    </section>
                      </div>
                    </section>
    </div>
        </div>
        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="primary-bg btn-block" mat-raised-button>{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
    </form>
      </div>
    </section> -->