<section class="container">
    <div class="card">
        <div class="card-header">
            <section class="row">
                <section class="col-md-3">
                    {{'Add Doctor' | translate}}
                </section>
                <section class="col-md-9"></section>
            </section>
        </div>
        <form #form="ngForm" (ngSubmit)="Add(form.value)">
        <div class="card-body ">
            <div class="container">
                <!-- <section style="border-bottom: 1px solid #ddd;"> -->
                    
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">{{'Personal Information' | translate}}</legend>
                <section class="row ml-5">
                    <section class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder=" {{'Enter Name in English' | translate}}" name="EName" [(ngModel)] = "EName">
                        </mat-form-field>
                    </section>
                    <section class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="{{'Enter Name in Arabic' | translate}}" name="AName" [(ngModel)] = "AName">
                        </mat-form-field>
                    </section>
                    <section class="col-md-4">
                        <mat-form-field>
                            <input matInput placeholder="{{'Enter Title in English' | translate}}" name="ETitle" [(ngModel)] = "ETitle">
                        </mat-form-field>
                    </section>
                </section>
              <section class="row ml-5">
                  
                <section class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="{{'Enter Title in Arabic' | translate}}" name="ATitle" [(ngModel)] = "ATitle">
                    </mat-form-field>
                </section>
                <section class="col-md-4">
                    <mat-form-field>
                        <textarea matInput placeholder=" {{'Enter Bio in English' | translate}}" name="EBio" [(ngModel)] = "EBio"></textarea>
                    </mat-form-field>
                </section>
                <section class="col-md-4">
                    <mat-form-field>
                        <textarea matInput placeholder="{{'Enter Bio in Arabic' | translate}}" name="ABio" [(ngModel)] = "ABio"></textarea>
                    </mat-form-field>
                </section>
                
          
            </section>
            <section class="row justify-content-center">
                <!-- <section class="col-md-4 mt-5">
                   
                  </section> -->
                <section class="col-md-4">
                    <div class="row">
                    <label class="col-md-3">{{'Image' | translate}}</label>
                <img [src]="imageSrc"class="col-md-2"style="max-width:300px;max-height:300px"
                onerror= "this.src='assets/img/1274512-placeholder.png';"/><br>
            </div>
            <button (click)="uploadFile()" type="button" mat-raised-button >Upload</button>
            <mat-form-field class="rid">
                <input matInput placeholder="Color" name="imageSrc" [(ngModel)] = "imageSrc">
            </mat-form-field>
                </section>
                
                <section class="col-md-4">
                    <div class="row">
                    <label class="col-md-3">{{'Logo' | translate}}</label>
                <img [src]="imageSrcLogo" class="col-md-2" style="max-width:300px;max-height:300px"
                onerror= "this.src='assets/img/1274512-placeholder.png';"/><br>
            </div>
            <button (click)="uploadLogo()" type="button" mat-raised-button >Upload</button>
            <mat-form-field class="rid">
                <input matInput placeholder="Color" name="imageSrcLogo" [(ngModel)] = "imageSrcLogo">
            </mat-form-field>
                </section>
            </section>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">{{'Clinic Information' | translate}}</legend>
            <section class="row ml-5">
                <section class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder=" {{'Enter address in English' | translate}}" name="EAddress" [(ngModel)] = "EAddress">
                    </mat-form-field>
                </section>
                <section class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="{{'Enter Address in Arabic' | translate}}" name="AAddress" [(ngModel)] = "AAddress">
                    </mat-form-field>
                </section>
                
                <section class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder=" {{'price' | translate}}" name="price" [(ngModel)] = "price" type="number">
                    </mat-form-field>
                </section>
            </section>
              <section class="row ml-5">
                <section class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="{{'lat' | translate}}" name="lat" [(ngModel)] = "lat" type="number">
                    </mat-form-field>
                </section>
                
              <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder=" {{'lang' | translate}}" name="lang" [(ngModel)] = "lang" type="number">
                </mat-form-field>
            </section>
            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'time' | translate}}" name="time" [(ngModel)] = "time" type="number">
                </mat-form-field>
            </section>
            </section>
            <section class="row ml-5">
                <section class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="{{'Category' | translate}}" name="categories" [(ngModel)] = "selectedCategory">
                          <mat-option *ngFor="let category of categories" [value]="category._id">
                            {{category.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </section>
                <section class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="{{'District' | translate}}" name="districts" [(ngModel)] = "selecteddistricts">
                          <mat-option *ngFor="let district of districts" [value]="district._id">
                            {{district.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </section>
                <section class="col-md-4 mt-2">
                    <mat-form-field>
                        <input matInput placeholder="{{'Numer of Booking' | translate}}" name="booking" type="number" [(ngModel)] = "booking">
                    </mat-form-field>
                </section>
            </section>
            <section class="row ml-5">
                <section class="col-md-2" >
                    <button mat-button (click)="opensm(contentsm)" type="button">
                        <mat-icon>add</mat-icon>
                        {{'Clinic Phone' | translate}}
                    </button>
                
                </section>
                <section class="col-md-2">   
                    <section *ngFor="let try of selectedPhone">
                        {{try}}
                    </section>                 
                </section>
                <!-- {{selectedFeatures | json}} -->
                <section class="col-md-8"></section>
            </section>
         </fieldset>
            
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{'Receptionist Information' | translate}}</legend>
<section class="row ml-5">
    <section class="col-md-4">
     <mat-form-field>
         <input matInput placeholder="{{'Name' | translate}}" name="name" [(ngModel)] = "name">
     </mat-form-field>
    </section>
    <section class="col-md-4">
     <mat-form-field>
         <input matInput placeholder="{{'Phone' | translate}}" name="phone" [(ngModel)] = "phone">
     </mat-form-field>
    </section>
    
    <section class="col-md-4">
     <mat-form-field>
         <input matInput placeholder="{{'Password' | translate}}" name="password" [(ngModel)] = "password" type="password">
     </mat-form-field>
    </section>
</section>
          </fieldset>
        <!-- </section> -->
        <br>
        <div class="row ml-5">
            <section class="col-md-4" >
                <button mat-button (click)="openLg(content)" type="button">
                    <mat-icon>add</mat-icon>
                    {{'Add Working hours' | translate}}
                </button>
            </section>
            <section class="col-md-8"></section>
        </div><br>
        <section class=""  >
       
            <section class="row justify-content-center">
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Sunday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 1">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Monday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 2">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Tuesday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 3">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Wednesday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 4">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Thursday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 5">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Friday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 6">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
                <section class="col-md-1 try " >
                    <section class="card" style="border: none;">
                    <div class="card-header title">{{'Saturday' | translate}}
                      </div> 
                      <section *ngFor="let try of selectedFeatures" >
                          <section  *ngIf="try.day == 7">
                      <div class="card-body" style="border: 1px solid #ddd;">
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p>{{try.from}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                                <mat-icon style="font-size: small" title="delete" class="mt-1"></mat-icon>
                                <p >{{try.to}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="row">
                              <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                                <p>{{try.max}}</p>
                            </div>
                      </div> 
                      <p></p>
                  </section>
                  </section>
                    </section> 
                </section>
            </section>
        
            <!-- <section class="row justify-content-center">
                <section class="col-md-3">
                    <section class="card">
                    <div class="card-header">{{'Thursday' | translate}}
                      </div> 
                      <div class="card-body" >
                          <section *ngFor="let try of selectedFeatures">
                        <section *ngIf="try.day == 5" style="border-bottom: 1px solid #ddd;">
                            <div class="row">
                                <label class="col-md-4">{{'From' | translate}} : </label>
                                <p class="col-md-4">{{try.from}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'To' | translate}} : </label>
                                <p class="col-md-4">{{try.to}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'Max' | translate}} : </label>
                                <p class="col-md-4">{{try.max}}</p>
                                <p class="col-md-4"></p>
                            </div>
                          </section>
                        </section>
                      </div>
                    </section> 
                </section>
        
                <section class="col-md-3">
                    <section class="card" >
                    <div class="card-header">{{'Friday' | translate}}
                      </div> 
                      <div class="card-body">
                          <section *ngFor="let try of selectedFeatures">
                        <section *ngIf="try.day == 6" style="border-bottom: 1px solid #ddd;">
                            <div class="row">
                                <label class="col-md-4">{{'From' | translate}} : </label>
                                <p class="col-md-4">{{try.from}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'To' | translate}} : </label>
                                <p class="col-md-4">{{try.to}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'Max' | translate}} : </label>
                                <p class="col-md-4">{{try.max}}</p>
                                <p class="col-md-4"></p>
                            </div>
                          </section>
                        </section>
                      </div>
                    </section> 
                </section>
                <section class="col-md-3">
                    <section class="card">
                    <div class="card-header">{{'Saturday' | translate}}
                      </div> 
                      <div class="card-body" >
                          <section *ngFor="let try of selectedFeatures">    
                          <section *ngIf="try.day == 7" style="border-bottom: 1px solid #ddd;">
                            <div class="row">
                                <label class="col-md-4">{{'From' | translate}} : </label>
                                <p class="col-md-4">{{try.from}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'To' | translate}} : </label>
                                <p class="col-md-4">{{try.to}}</p>
                                <p class="col-md-4"></p>
                            </div>
                            <div class="row">
                                <label class="col-md-4">{{'Max' | translate}} : </label>
                                <p class="col-md-4">{{try.max}}</p>
                                <p class="col-md-4"></p>
                            </div>
                      </section>
                    </section>
                    </div>
                    </section> 
                </section>
            </section> -->
            </section>


    </div>
        </div>

        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="btn btn-block" >{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
    </form>
      </div>

<br>
      <div class="card">
        <div class="card-header">
            <section class="row">
                <section class="col-md-3">
                    {{'Add Subscription' | translate}}
                </section>
                <section class="col-md-9"></section>
            </section>
        </div>
        
        <form #formSub="ngForm" (ngSubmit)="AddSub(formSub.value)">
        <div class="card-body">
            <div class="container ml-5">
                <section class="row justify-content-center">
                    <section class="col-md-4">
                        <mat-form-field>
                            <mat-label>{{'Start Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker2" name="startDate" [(ngModel)] = "startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                              </mat-datepicker-toggle>
                         <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                    </section>
                    <section class="col-md-4">
                        <mat-form-field>
                            <mat-label>{{'End Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker" name="endDate" [(ngModel)] = "endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                              </mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </section>
                </section>
            </div>
        </div>
        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="btn btn-block">{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
        </form>
      </div>

    </section> 

    <ng-template #contentsm let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{'Add Clinic Phones' | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #formPhone="ngForm" (ngSubmit)="Update(formPhone.value)">
        <div class="modal-body">
            <mat-form-field [class.has-error]="phoneControl.invalid && phoneControl.touched">
                <input matInput placeholder="{{'Phone' | translate}}" name="phoneAdd" type="number" pattern=".{8,}" #phoneControl="ngModel" required  [(ngModel)]="phoneAdd">
            </mat-form-field><br>
            <span style="font-size: smaller;" class="text-danger" *ngIf="phoneControl.errors?.required && phoneControl.touched">Clinic Phone is required</span>
            <span style="font-size: smaller;" class="text-danger" *ngIf="phoneControl.errors?.pattern && phoneControl.touched">Must be between 8-11 numbers</span>
       </div>
        <div class="modal-footer">
          <button class="primary-bg" mat-raised-button (click)="addPhone()" [disabled]="!formPhone.valid">{{'Save' | translate}}</button>
        </div>
        </form>
      </ng-template>


    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{'Add Working Hours' | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
      <form #form="ngForm" (ngSubmit)="Update(form.value)">
        <div class="modal-body">
            <section class="row">
                <section class="col-md-6">
                  <mat-form-field [class.has-error]="dayControl.invalid && dayControl.touched">
                        <mat-label>choose Day</mat-label>
                        <mat-select name="day"  [(ngModel)]="day" required #dayControl="ngModel" >
                          <mat-option value="1">{{'Sunday' | translate}}</mat-option>
                          <mat-option value="2">{{'Monday' | translate}}</mat-option>
                          <mat-option value="3">{{'Tuesday' | translate}}</mat-option>
                          <mat-option value="4">{{'Wednesday' | translate}}</mat-option>
                          <mat-option value="5">{{'Thursday' | translate}}</mat-option>
                          <mat-option value="6">{{'Friday' | translate}}</mat-option>
                          <mat-option value="7">{{'Saturday' | translate}}</mat-option>
                        </mat-select>
                      </mat-form-field><br>
                      <span style="font-size: smaller;" class="text-danger" *ngIf="dayControl.errors?.required && dayControl.touched">Select a day is required</span>
                </section>
                <section class="col-md-6">
                  <mat-form-field [class.has-error]="maxControl.invalid && maxControl.touched">
                        <input matInput placeholder="{{'Max' | translate}}" name="max" required #maxControl="ngModel"  [(ngModel)]="max">
                    </mat-form-field><br>
                    <span style="font-size: smaller;" class="text-danger" *ngIf="maxControl.errors?.required && maxControl.touched">    Max number is required</span>
                </section>
            </section>
            <section class="row">
                <section class="col-md-6">
                  <mat-form-field [class.has-error]="timeControl.invalid && timeControl.touched">
                        <input matInput placeholder="{{'From' | translate}}" name="from" required  type="time" #timeControl="ngModel" [(ngModel)]="from">
                    </mat-form-field><br>
                    <span style="font-size: smaller;" class="text-danger" *ngIf="timeControl.errors?.required && timeControl.touched">From date is required</span>
                </section>
                <section class="col-md-6">
                    
              <mat-form-field [class.has-error]="toControl.invalid && toControl.touched">
                        <input matInput placeholder="{{'To' | translate}}" name="to" type="time" required #toControl="ngModel"  [(ngModel)]="to">
                    </mat-form-field><br>
                    <span style="font-size: smaller;" class="text-danger" *ngIf="toControl.errors?.required && toControl.touched">To date is required</span>
                </section>
            </section>
       </div>
        <div class="modal-footer">
          <button class="primary-bg" type="button" mat-raised-button [disabled]="!form.valid" (click)="onAdd()">{{'Save' | translate}}</button>
        </div>
      </form> 
      </ng-template>