<section class="container-fluide">
    <h2 class="">{{'branch' | translate}}</h2><br>
    <section class="row">
        <section class="col-md-3  dash">
            <form class="search-form" #form="ngForm" (ngSubmit)="Branch(form.value)">
         
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'name' | translate}}" name="name" required [(ngModel)]="searchName">
              </mat-form-field><br>
              <mat-form-field>
                <mat-select placeholder="{{'active' | translate}}" name="active" required [(ngModel)]="searchActive">
                  <!-- <mat-option value="1">{{'all' | translate}}</mat-option> -->
                  <mat-option value="false">{{'no' | translate}}</mat-option>
                  <mat-option value="true">{{'yes' | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
            </form><br>
  
            <ng-template #content let-modal>
              <div role="document">
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #addform="ngForm" (ngSubmit)="AddBranch(addform.value)">
              <div class="modal-body ">
                <section class="row justify-content-center" >
                  <section class="col-md-5 ml-3">
                    <div class="form-group row">
                      <label>{{'id' | translate}}</label>
                        <input class="form-control" readonly name="id"  [(ngModel)]="id">
                      </div>
                      <div class="form-group row">
                        <label>{{'name' | translate}}</label>
                          <input class="form-control"  name="name"  [(ngModel)]="name">
                        </div>
                        <div class="form-group row">
                          <label>{{'country' | translate}}</label>
                          <select class="form-control" name="countries" [(ngModel)]="selectedcountry">
                            <option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}}</option>
                          </select>
                          </div>
                          <div class="form-group row">
                            <label>{{'state' | translate}}</label>
                            <select class="form-control" name="states" [(ngModel)]="selectedstate">
                              <option *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</option>
                          </select>
                            </div>
                            <div class="form-group row">
                              <label>{{'city' | translate}}</label>
                              <select class="form-control" name="cities" [(ngModel)]="selectedcity">
                                <option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</option>
                            </select>
                              </div>
                              <div class="form-group row">
                                <label>{{'clinic' | translate}}</label>
                                <select class="form-control" name="clinics" [(ngModel)]="clinics">
                                  <option *ngFor="let clinic of clinics" [value]="clinic.ID" >{{clinic.Name}}</option>
                              </select>
                                </div>
                                <div class="form-group row">
                                  <label>{{'client' | translate}}</label>
                                  <select class="form-control" name="payers" [(ngModel)]="payers">
                                    <option *ngFor="let payer of payers" [value]="payer.ID" >{{payer.Name}}</option>
                                </select>
                                  </div>
                              <div class="form-group row">
                                <label>{{'active' | translate}}</label>
                                <select class="form-control" name="active" [(ngModel)]="active">
                                  <option value="true">{{'true' | translate}}</option>
                                  <option value="false">{{'false' | translate}}</option>
                                </select>
                                </div>    
                  </section>
                  <section class="col-md-5 ml-4">
                    <div class="form-group row">
                      <label>{{'address' | translate}}</label>
                        <input class="form-control"  name="address"  [(ngModel)]="address">
                      </div>
                      <div class="form-group row">
                        <label>{{'fax' | translate}}</label>
                          <input class="form-control"  name="fax"  [(ngModel)]="fax">
                        </div>
                        <div class="form-group row">
                          <label>{{'phone' | translate}}</label>
                            <input class="form-control"  name="phone"  [(ngModel)]="phone">
                          </div>
                          <div class="form-group row">
                            <label>{{'mail' | translate}}</label>
                              <input class="form-control"  name="mail"  [(ngModel)]="mail">
                            </div>
                            <div class="form-group row">
                              <label>{{'date' | translate}}</label>
                                <input class="form-control"  name="date" type="date"  [(ngModel)]="date">
                              </div>
                              <div class="form-group row">
                                <label>{{'branchID' | translate}}</label>
                                  <input class="form-control"  name="branchID"  [(ngModel)]="branchID">
                                </div>
                                <div class="form-group row">
                                  <label>{{'processingID' | translate}}</label>
                                    <input class="form-control"  name="processingID"  [(ngModel)]="processingID">
                                  </div>
                  </section>
                </section>
              
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" >{{'save' | translate}}</button>
              </div>
              </form>
            </div>
            </ng-template>
           
    <br><br>
        </section>
        <section class="col-md-9">
            <section class="row">
                <section class="col-md-10"></section>
                <section class="col-md-2">
                    <button type="button"  class="btn btn-outline-secondary btn-block log" (click)="openSm(content)" >{{'Add' | translate}}</button>
                    <!-- <button type="button" class="btn btn-outline-secondary">Secondary</button> -->

                </section>
            </section>
            <div class="scroll">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">{{'name' | translate}}</th>
                    <th scope="col">{{'country' | translate}}</th>
                    <th scope="col">{{'state' | translate}}</th>
                    <th scope="col">{{'city' | translate}}</th>
                    <th scope="col">{{'established' | translate}}</th>
                    <th scope="col">{{'active' | translate}}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let branch of branches; let i= index">
                    <td>{{branch.Name}}</td>
                    <td>{{branch.Country}}</td>
                    <td>{{branch.State}}</td>
                    <td>{{branch.City}}</td>
                    <td>{{branch.Established}}</td>
                    <td>{{branch.Active}}</td>
                    <td>
                      <a>  
                        <i class="fa fa-pencil-square-o" (click)="openLg(edit)"aria-hidden="true" (click)="editRow(branch)"
                        title="Edit"></i>
                      </a> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </section>
    </section>
  </section>
  
  
  <ng-template #edit let-modal>
    <div role="document">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center;">{{'edit' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #updateform="ngForm" (ngSubmit)="UpBranch(updateform.value)">
    <div class="modal-body ">
      <section class="row justify-content-center" >
        <section class="col-md-5 ml-3">
          <div class="form-group row">
            <label>{{'id' | translate}}</label>
              <input class="form-control" readonly name="upid" required [(ngModel)]="editid">
            </div>
            <div class="form-group row">
              <label>{{'name' | translate}}</label>
                <input class="form-control"   name="upname"  [(ngModel)]="editname">
              </div>
              <div class="form-group row">
                <label>{{'country' | translate}}</label>
                <select class="form-control" name="upcountries" [(ngModel)]="selectedcountry">
                  <option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}}</option>
                </select>
                </div>
                <div class="form-group row">
                  <label>{{'state' | translate}}</label>
                  <select class="form-control" name="upstates" [(ngModel)]="selectedstate">
                    <option *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</option>
                </select>
                  </div>
                  <div class="form-group row">
                    <label>{{'city' | translate}}</label>
                    <select class="form-control" name="upcities" [(ngModel)]="selectedcity">
                      <option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</option>
                  </select>
                    </div>
                    <div class="form-group row">
                      <label>{{'clinic' | translate}}</label>
                      <select class="form-control" name="upclinics" [(ngModel)]="upclinics">
                        <option *ngFor="let clinic of clinics" [value]="clinic.ID" >{{clinic.Name}}</option>
                    </select>
                      </div>
                      <div class="form-group row">
                        <label>{{'client' | translate}}</label>
                        <select class="form-control" name="uppayers" [(ngModel)]="uppayers">
                          <option *ngFor="let payer of payers" [value]="payer.ID" >{{payer.Name}}</option>
                      </select>
                        </div>
                    <div class="form-group row">
                      <label>{{'active' | translate}}</label>
                      <select class="form-control" name="upactive" [(ngModel)]="selectedactive">
                        <option value="true">{{'true' | translate}}</option>
                        <option value="false">{{'false' | translate}}</option>
                      </select>
                      </div>    
        </section>
        <section class="col-md-5 ml-4">
          <div class="form-group row">
            <label>{{'address' | translate}}</label>
              <input class="form-control"  name="upaddress"  [(ngModel)]="upaddress">
            </div>
            <div class="form-group row">
              <label>{{'fax' | translate}}</label>
                <input class="form-control"  name="upfax"  [(ngModel)]="upfax">
              </div>
              <div class="form-group row">
                <label>{{'phone' | translate}}</label>
                  <input class="form-control"  name="upphone"  [(ngModel)]="upphone">
                </div>
                <div class="form-group row">
                  <label>{{'mail' | translate}}</label>
                    <input class="form-control"  name="upmail"  [(ngModel)]="upmail">
                  </div>
                  <div class="form-group row">
                    <label>{{'date' | translate}}</label>
                      <input class="form-control"  name="update" type="date"  [(ngModel)]="update">
                    </div>
                    <div class="form-group row">
                      <label>{{'branchID' | translate}}</label>
                        <input class="form-control"  name="upbranchID"  [(ngModel)]="upbranchID">
                      </div>
                      <div class="form-group row">
                        <label>{{'processingID' | translate}}</label>
                          <input class="form-control"  name="upprocessingID"  [(ngModel)]="upprocessingID">
                        </div>
        </section>
      </section>
      <!-- <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'id' | translate}}</label>
        <div v class="col-sm-8">
          <input class="form-control" readonly name="upid" required [(ngModel)]="editid">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'name' | translate}}</label>
        <div class="col-sm-8">
          <input  class="form-control" placeholder="Enter Name" name="upname"  [(ngModel)]="editname">
      </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">{{'country' | translate}}</label>
        <div class="col-sm-8">
          <select class="form-control" name="upcountries" [(ngModel)]="selectedcountry" >
            <option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}} </option>

          </select>
         </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-4 col-form-label">{{'city' | translate}}</label>
          <div class="col-sm-8">
            <select class="form-control" name="upcities" [(ngModel)]="selectedcity">

              <option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</option>
          </select>
           </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">{{'state' | translate}}</label>
          <div class="col-sm-8">
            <select class="form-control" name="upstates" [(ngModel)]="selectedstate">

              <option *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</option>
          </select>
           </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">{{'active' | translate}}</label>
          <div class="col-sm-8">
            <select class="form-control" name="upactive" [(ngModel)]="selectedactive">
              <option value="true">{{'true' | translate}}</option>
              <option value="false">{{'false' | translate}}</option>
            </select>
           </div>
        </div> -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" >{{'updated' | translate}}</button>
    </div>
    </form>
  </div>
  </ng-template>

  
  
  