<section class="container-fluide">
  <h2 class="">{{'branch' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3  ">
        <div class="card">
          <div class="card-body ">
          <form class="search-form" #form="ngForm" (ngSubmit)="Branch(form.value)" autocapitalize="off">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="name" required [(ngModel)]="searchName">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="active" required [(ngModel)]="searchActive">
                <!-- <mat-option value="1">{{'all' | translate}}</mat-option> -->
                <mat-option value="false">{{'no' | translate}}</mat-option>
                <mat-option value="true">{{'yes' | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
</div>
</div>
          <ng-template #content let-modal>
            <div role="document">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addform="ngForm" (ngSubmit)="AddBranch(addform.value)">
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}"  readonly name="id"  [(ngModel)]="id">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'name' | translate}}"   name="name"  [(ngModel)]="name">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'country' | translate}}"  name="countries" [(ngModel)]="selectedcountry">
                      <mat-option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'state' | translate}}"  name="states" [(ngModel)]="selectedstate">
                      <mat-option  *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'city' | translate}}"  name="cities" [(ngModel)]="selectedcity">
                      <mat-option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'clinic' | translate}}"  name="clinics" [(ngModel)]="selectedclinics">
                      <mat-option  *ngFor="let clinic of clinics" [value]="clinic.ID" >{{clinic.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'client' | translate}}"  name="payers" [(ngModel)]="selectedpayer">
                      <mat-option *ngFor="let payer of payers" [value]="payer.ID" >{{payer.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'active' | translate}}"  name="active" [(ngModel)]="active">
                      <mat-option value="true">{{'yes' | translate}}</mat-option>
                      <mat-option value="false">{{'no' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'fax' | translate}}"   name="fax"  [(ngModel)]="fax">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'phone' | translate}}"   name="phone"  [(ngModel)]="phone">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'mail' | translate}}"   name="mail"  [(ngModel)]="mail">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'date' | translate}}"  type="date" name="date"  [(ngModel)]="date">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'branchID' | translate}}"   name="branchID"  [(ngModel)]="branchID">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'processingID' | translate}}"  name="processingID"  [(ngModel)]="processingID">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="{{'address' | translate}}" name="address"  [(ngModel)]="address"></textarea>
                  </mat-form-field>
                </section>
              
              </section>
            <!-- <div class="modal-body ">
              
                </section>
                <section class="col-md-5 ml-4">
                  <div class="form-group row">
                    <label>{{'address' | translate}}</label>
                      <input class="form-control"  name="address"  [(ngModel)]="address">
               
                            <div class="form-group row">
                              <label>{{'branchID' | translate}}</label>
                                <input class="form-control"  name="branchID"  [(ngModel)]="branchID">
                              </div>
                              <div class="form-group row">
                                <label>{{'processingID' | translate}}</label>
                                  <input class="form-control"  name="processingID"  [(ngModel)]="processingID">
                                </div>
                </section>
              </section>
            
            </div> -->
            <div class="modal-footer">
              <button class="btn btn-primary" >{{'save' | translate}}</button>
            </div>
            </form>
          </div>
          </ng-template>
         
  <br><br>
  
      </section>
      <section class="col-md-9 ">
        <section class="row">
          <section class="col-md-10"></section>
          <section class="col-md-2">
              <button type="button"  class="btn btn-outline-secondary btn-block log" (click)="openSm(content)" >{{'Add' | translate}}</button>
              <!-- <button type="button" class="btn btn-outline-secondary">Secondary</button> -->

          </section>
      </section>
      <div class=" example-container">
        <table mat-table [dataSource]="dataSource" matSort bordered="true" class="mat-elevation-z8">
        
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
              <!-- <div style="width: 110px; word-wrap: break-word"> -->
              {{element.Name}} 
            <!-- </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'country' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
              <!-- <div style="max-width: 110px; min-width: 100px; word-wrap: break-word"> -->
              {{element.Country}}
            <!-- </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'state' | translate}} </th>
            <td mat-cell *matCellDef="let element"> 
          <!-- <div style=" width: 90px;word-wrap: break-word"> -->
              {{element.State}}
            <!-- </div> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'city' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <!-- <div style="word-wrap: break-word"> -->
              {{element.City}} 
            <!-- </div> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Established">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'established' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <!-- <div style=" word-wrap: break-word"> -->
              {{element.Established}} 
            <!-- </div> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <!-- <div style="word-wrap: break-word"> -->
              {{element.Active}}
            <!-- </div> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'action' | translate}} </th>
            <td mat-cell *matCellDef="let element">
            <mat-icon style="color: dodgerblue;"(click)="openLg(edit)" (click)="editRow(element)"> edit</mat-icon>
          </td>
          </ng-container>
                  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
          <!-- <div class="card">
     
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let branch of branches; let i= index">
                  <td>{{branch.Name}}</td>
                  <td>{{branch.Country}}</td>
                  <td>{{branch.State}}</td>
                  <td>{{branch.City}}</td>
                  <td>{{branch.Established}}</td>
                  <td>{{branch.Active}}</td>
                  <td>
                    <a>  
                      <i class="fa fa-pencil-square-o" (click)="openLg(edit)"aria-hidden="true" (click)="editRow(branch)"
                      title="Edit"></i>
                    </a> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          </div> -->
      </section>
  </section>
</section>


<ng-template #edit let-modal>
  <div role="document">
  <div class="modal-header">
    <h4 class="modal-title" style="text-align: center;">{{'edit' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #updateform="ngForm" (ngSubmit)="UpBranch(updateform.value)">
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'id' | translate}}"  readonly name="upid"  [(ngModel)]="editid">
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'name' | translate}}"  name="upname"  [(ngModel)]="editname">
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'country' | translate}}"  name="upcountries" [(ngModel)]="selectedcountryy">
            <mat-option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'state' | translate}}"  name="upstates" [(ngModel)]="selectedstatee">
            <mat-option  *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'city' | translate}}"  name="upcities" [(ngModel)]="selectedcityy">
            <mat-option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'clinic' | translate}}"  name="upclinics" [(ngModel)]="selectedclinicss">
            <mat-option  *ngFor="let clinic of clinics" [value]="clinic.ID" >{{clinic.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'client' | translate}}"  name="uppayers" [(ngModel)]="selectedpayerr">
            <mat-option *ngFor="let payer of payers" [value]="payer.ID" >{{payer.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="{{'active' | translate}}"  name="upactive" [(ngModel)]="activee">
            <mat-option value="true">{{'yes' | translate}}</mat-option>
            <mat-option value="false">{{'no' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'fax' | translate}}"   name="upfax"  [(ngModel)]="upfax">
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'phone' | translate}}"   name="upphone"  [(ngModel)]="upphone">
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'mail' | translate}}"   name="upmail"  [(ngModel)]="upmail">
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'date' | translate}}"  type="date" name="update"  [(ngModel)]="update">
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'branchID' | translate}}"   name="upbranchID"  [(ngModel)]="upbranchID">
        </mat-form-field>
      </section>
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'processingID' | translate}}"  name="upprocessingID"  [(ngModel)]="upprocessingID">
        </mat-form-field>
      </section>
    </section>
    <section class="row ml-3">
      <section class="col-md-6">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="{{'address' | translate}}" name="upaddress"  [(ngModel)]="upaddress"></textarea>
        </mat-form-field>
      </section>
    
    </section>
  <!-- <div class="modal-body ">
    <section class="row justify-content-center" >
      <section class="col-md-5 ml-3">
        <div class="form-group row">
          <label>{{'id' | translate}}</label>
            <input class="form-control" readonly name="upid"  [(ngModel)]="editid">
          </div>
          <div class="form-group row">
            <label>{{'name' | translate}}</label>
              <input class="form-control"   name="upname"  [(ngModel)]="editname">
            </div>
            <div class="form-group row">
              <label>{{'country' | translate}}</label>
              <select class="form-control" name="upcountries" [(ngModel)]="selectedcountry">
                <option *ngFor="let country of countries" [value]="country.ID" >{{country.Name}}</option>
              </select>
              </div>
              <div class="form-group row">
                <label>{{'state' | translate}}</label>
                <select class="form-control" name="upstates" [(ngModel)]="selectedstate">
                  <option *ngFor="let state of states" [value]="state.ID" >{{state.Name}}</option>
              </select>
                </div>
                <div class="form-group row">
                  <label>{{'city' | translate}}</label>
                  <select class="form-control" name="upcities" [(ngModel)]="selectedcity">
                    <option *ngFor="let city of cities" [value]="city.ID" >{{city.Name}}</option>
                </select>
                  </div>
                  <div class="form-group row">
                    <label>{{'clinic' | translate}}</label>
                    <select class="form-control" name="upclinics" [(ngModel)]="upclinics">
                      <option *ngFor="let clinic of clinics" [value]="clinic.ID" >{{clinic.Name}}</option>
                  </select>
                    </div>
                    <div class="form-group row">
                      <label>{{'client' | translate}}</label>
                      <select class="form-control" name="uppayers" [(ngModel)]="uppayers">
                        <option *ngFor="let payer of payers" [value]="payer.ID" >{{payer.Name}}</option>
                    </select>
                      </div>
                  <div class="form-group row">
                    <label>{{'active' | translate}}</label>
                    <select class="form-control" name="upactive" [(ngModel)]="selectedactive">
                      <option value="true">{{'true' | translate}}</option>
                      <option value="false">{{'false' | translate}}</option>
                    </select>
                    </div>    
      </section>
      <section class="col-md-5 ml-4">
        <div class="form-group row">
          <label>{{'address' | translate}}</label>
            <input class="form-control"  name="upaddress"  [(ngModel)]="upaddress">
          </div>
          <div class="form-group row">
            <label>{{'fax' | translate}}</label>
              <input class="form-control"  name="upfax"  [(ngModel)]="upfax">
            </div>
            <div class="form-group row">
              <label>{{'phone' | translate}}</label>
                <input class="form-control"  name="upphone"  [(ngModel)]="upphone">
              </div>
              <div class="form-group row">
                <label>{{'mail' | translate}}</label>
                  <input class="form-control"  name="upmail"  [(ngModel)]="upmail">
                </div>
                <div class="form-group row">
                  <label>{{'date' | translate}}</label>
                    <input class="form-control"  name="update" type="date"  [(ngModel)]="update">
                  </div>
                  <div class="form-group row">
                    <label>{{'branchID' | translate}}</label>
                      <input class="form-control"  name="upbranchID"  [(ngModel)]="upbranchID">
                    </div>
                    <div class="form-group row">
                      <label>{{'processingID' | translate}}</label>
                        <input class="form-control"  name="upprocessingID"  [(ngModel)]="upprocessingID">
                      </div>
      </section>
    </section>

  </div> -->
  <div class="modal-footer">
    <button class="btn btn-primary" >{{'updated' | translate}}</button>
  </div>
  </form>
</div>
</ng-template>



