<section class="container-fluide">
  <h2 class="">{{'sacceptance' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3 ">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Acceptance(form.value)">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{'fcollection' | translate}}" type="date" name="fcollection" required [(ngModel)]="fcollection">
                </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'tcollection' | translate}}" type="date" name="tcollection" required [(ngModel)]="tcollection">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'status' | translate}}" name="status2" required [(ngModel)]="selectedstatus">
                <mat-option *ngFor="let statuss of status2" [value]="statuss.ID" >{{statuss.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'center' | translate}}" name="center2" required [(ngModel)]="selectedcenter">
                <mat-option *ngFor="let centerss of center2" [value]="centerss.ID" >{{centerss.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'visite' | translate}}" name="visite2" required [(ngModel)]="visite2">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'sample' | translate}}" name="sample2" required [(ngModel)]="sample2">
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form>
          </div>
          </div>
  <br><br>
      </section>
      <section class="col-md-9  ">
        <div class=" example-container">
          <table mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8">
         
            <ng-container matColumnDef="SampleID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'sample' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.SampleID}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef > {{'status' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
            
            <ng-container matColumnDef="RegCenter">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'center' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.RegCenter}} </td>
            </ng-container>

            <ng-container matColumnDef="PatientName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pname' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.PatientName}} </td>
            </ng-container>
          
  
            <ng-container matColumnDef="DateOfBirth">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'dob' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.DateOfBirth}} </td>
            </ng-container>
  
            <ng-container matColumnDef="gender_Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'gender' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.gender_Name}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="payer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'payer' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.payer}} </td>
            </ng-container>
                    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
          </div>
        <!-- <div 
               gFor="let accept of acceptance">
                  <th scope="row">{{accept.SampleID}}</th>
                  <td>{{accept.Status}}</td>
                  <td>{{accept.RegCenter}}</td>
                  <td>{{accept.PatientName}}</td>
                  <td>{{accept.DateOfBirth}}</td>
                  <td>{{accept.gender_Name}}</td>
                  <td>{{accept.payer}}</td>

                </tr>
          </tbody>
            </table>
            </div>
            </div> -->
      </section>
  </section>
  
</section>