
.dash{
    border-right: 2px solid red;
}
table{
    transition: none !important;
    box-shadow: none !important;
}
.example-container{
    overflow: auto;
}
.mat-header-cell, .mat-cell {
    min-width: 110px;
}
.mat-header-cell{
    color: rgb(158, 155, 155);
    font-weight: normal;
}
.first{
    overflow-x: auto;
}
h1{
    text-align: center;

}
h2{
    font-size: larger;
    text-align: center;
    }
    th{
        font-size: small;
        font-weight: bold;
        color: rgba(22, 21, 21, 0.644);
    }
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
    // background-color: white;
}
.container-fluide{
    padding: 20px;
}
h5{
    text-align: center;
    border: 1px solid rgb(3, 6, 41);
    border-radius: 15px;
    padding: 5px;
    width: 27%;
    color:  rgb(3, 6, 41);
    font-weight: normal;
}
i{
// padding-left: 2px;
    color: red;
    cursor: pointer;
}
.right{
    display: none;
}