<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p></ngx-spinner>

<div class="container-fluide">
<form #form="ngForm" (ngSubmit)="FilterDoctor(form.value)">
<section class="row ">
  <section class="col-md-3 mt-3">
    <p>{{'Show All Doctors' | translate}}</p>
  </section>
  <section class="col-md-3">
    <mat-form-field class="mt-1">
      <!-- <mat-label>{{'Name' | translate}}</mat-label> -->
      <input matInput placeholder="{{'Name' | translate}}" name="filter" [(ngModel)]="filter">
    </mat-form-field>
      </section>
    <section class="col-md-3 ">
      <mat-form-field>
        <mat-select name="status" placeholder="{{'Status' | translate}}" [(ngModel)]="selectedstatus">
          <mat-option value="">{{'All' | translate}}</mat-option>
          <mat-option value="active">{{'Active' | translate}}</mat-option>
          <mat-option value="inActive">{{'In active' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="col-md-3 ">
      <mat-form-field>
        <mat-select name="category" placeholder="{{'Category' | translate}}" [(ngModel)]="selectedcategory">
          <mat-option value="">{{'All' | translate}}</mat-option>
          <mat-option *ngFor="let obj of categories" [value]="obj._id">{{obj.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

</section>
   <section class="row justify-content-center ">
     <!-- <section class="col-md-3"></section> -->
    <section class="col-md-3 ">
      <mat-form-field>
        <mat-select name="district" placeholder="{{'District' | translate}}" [(ngModel)]="selecteddistrict">
          <mat-option value="">{{'All' | translate}}</mat-option>
          <mat-option *ngFor="let obj of districts" [value]="obj._id">{{obj.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="col-md-3 ">
      <mat-form-field>
        <mat-select name="subscription" placeholder="{{'Subscriptions' | translate}}" [(ngModel)]="selectedSubscription">
          <mat-option value="">{{'All' | translate}}</mat-option>
          <mat-option value="true">{{'True' | translate}}</mat-option>
          <mat-option value="false">{{'False' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="col-md-3">
      <button class="btn  btn-block mt-3">{{'Search' | translate}}</button>
    </section>
   </section>
  <div class="mat-elevation-z8 example-container">

  <table mat-table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
        
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef> {{'District' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.district.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> {{'Category' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
      </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="subscription">
              <th mat-header-cell *matHeaderCellDef> {{'Subscriptions' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.subscriptionDate | date:'short'}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="bookings">
              <th mat-header-cell *matHeaderCellDef> {{'Bookings' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.bookings}} </td>
            </ng-container>
    
      <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="pointer"> {{'Action' | translate}} </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon style="color:#ffae00"class="pointer" name="inactive" title="inactive" *ngIf="element.state === 'inActive'" (click)="Active(element)">highlight_off</mat-icon>  
                <mat-icon style="color:green"class="pointer" name="active" title="active" *ngIf="element.state === 'active'" (click)="Active(element)">check_circle_outline</mat-icon>
                <mat-icon style="color:dodgerblue"class="pointer"  title="edit"  (click)="editRow(element)">
                  <a [routerLink]="['/dashboard/bookingdoctor/' + element._id]">
                  edit </a></mat-icon> 
                  <mat-icon style="color:#212741" title="booking">
                    <a [routerLink]="['/dashboard/bookingVendor/' + element._id]">booking
                    </a></mat-icon> 
              <!-- <mat-icon style="color:green"class="pointer"  title="details"  (click)="detialRow(element)">
                details </mat-icon>   -->
              <!-- <mat-icon style="color:#ffae00"class="pointer" title="inactive/active" (click)="Active(element)">error</mat-icon>   -->
            </td>
            </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  </div>
</form>
</div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{'Details' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <section class="row rid">
          <section class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="ID"  name="id" [(ngModel)] = "id">
          </mat-form-field> 
          </section>
        </section>
        <section class="row">
          <section class="col-md-6">
              <mat-form-field>
                  <input matInput placeholder="{{'Enter Name in English' | translate}}" name="upEName" [(ngModel)] = "editEName">
              </mat-form-field>
          </section>
          <section class="col-md-6">
              <mat-form-field>
                  <input matInput placeholder=" الاسم بالعربى" name="upAName" [(ngModel)] = "editAName">
              </mat-form-field>
          </section>
      </section>
      <section class="row">
        <section class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="{{'Enter Title in English' | translate}}" name="upETitle" [(ngModel)] = "editETitle">
            </mat-form-field>
        </section>
        <section class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="اللقب بالعربى" name="upATitle" [(ngModel)] = "editATitle">
            </mat-form-field>
        </section>
    </section>
    <section class="row">
      <section class="col-md-6">
          <mat-form-field>
              <input matInput placeholder="{{'Enter Bio in English' | translate}}" name="upEBio" [(ngModel)] = "editEBio">
          </mat-form-field>
      </section>
      <section class="col-md-6">
          <mat-form-field>
              <input matInput placeholder=" اللقب بالعربى" name="upABio" [(ngModel)] = "editABio">
          </mat-form-field>
      </section>
  </section>
  <section class="row">
    <section class="col-md-6">
        <mat-form-field>
            <input matInput placeholder="{{'Enter address in English' | translate}}" name="upEAddress" [(ngModel)] = "editEAddress">
        </mat-form-field>
    </section>
    <section class="col-md-6">
        <mat-form-field>
            <input matInput placeholder=" العنوان بالعربى" name="upAAddress" [(ngModel)] = "editAAddress">
        </mat-form-field>
    </section>
</section>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' | translate}}</button>
    </div>
  </ng-template>