<section class="container-fluide">
  <h2 class="">{{'tsubcategory' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Sub(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="subname" required [(ngModel)]="subname">
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
            <button class="success-bg btn-block log" (click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
</div>
</div>
         
            <ng-template #content let-modal>
              <div role="document">
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #addform="ngForm" (ngSubmit)="addSubCategory(addform.value)">
              <div class="modal-body ">
                <section class="row">
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'id' | translate}}" readonly name="subid" [(ngModel)]="subid">
                    </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'name' | translate}}"  name="subname2"  [(ngModel)]="subname2">
                    </mat-form-field>
                  </section>

                </section>
                <section class="row">
                  <section class="col-md-6">
                 
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'printas' | translate}}"  name="subprint"  [(ngModel)]="subprint">
            </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'printorder' | translate}}"  name="suborder"  [(ngModel)]="suborder">
                    </mat-form-field>
                  </section>

                </section>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" >{{'save' | translate}}</button>
              </div>
              </form>
          
            </div>
            </ng-template>
         


  <br><br>
      </section>
      <section class="col-md-9">
        <!-- <div class="card">
          <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'testid' | translate}}</th>
                  <th scope="col">{{'testname' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sub of subcategories">
                  <th scope="row">{{sub.ID}}</th>
                  <td>{{sub.Name}}</td>
                  <td>{{sub.CreateDT}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div> -->
            <div class="mt-3 example-container">
              <!-- <mat-form-field class="ml-3">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
              </mat-form-field> -->
            <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
            
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'testid' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'testname' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
              </ng-container>
            
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="CreateDT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div><br><br>
      </section>
  </section>
</section>





