<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
      <section class="col-md-3">
        {{'Booking Info' | translate}}
      </section>
      <section class="col-md-8"></section>
    </div>
  </div>
    <section class="card-body ">
      <div class="row">
      <section class="col-md-4 row">
        <label class="col-md-5"> {{'Client Name' | translate}}:</label>
        <p class="col-md-6">{{cname}}</p>
      </section>

      <section class="col-md-4 row">
        <label class="col-md-5"> {{'Client Phone' | translate}}:</label>
        <p class="col-md-6">{{cphone}}</p>
      </section>

      <section class="col-md-4 row">
        <label class="col-md-5"> {{'Price' | translate}}:</label>
        <p class="col-md-6">{{price}}</p>
      </section>
    </div>
    <section class="row">
      <section class="col-md-4 row">
        <label class="col-md-5"> {{'Date' | translate}}:</label>
        <p class="col-md-6">{{date | date :'short'}}</p>
      </section>

      <section class="col-md-4 row">
        <label class="col-md-5"> {{'From' | translate}}:</label>
        <p class="col-md-6">{{from}}</p>
      </section>

      <section class="col-md-4 row">
        <label class="col-md-5"> {{'To' | translate}}:</label>
        <p class="col-md-6">{{to}}</p>
      </section>
    </section>
  </section>
  </div>

<br>
  <!--****************************************************************-->
  <div class="card">
    <div class="card-header">
      <div class="row">
      <section class="col-md-3">
        {{'Doctor Info' | translate}}
      </section>
      <section class="col-md-8"></section>
    </div>
  </div>
  <div class="card-body">
      <div class="row">
        <section class="col-md-4 row">
          <label class="col-md-4"> {{'Name' | translate}}:</label>
          <p class="col-md-7">{{name}}</p>
        </section>
  
        <section class="col-md-4 row">
          <label class="col-md-4"> {{'Title' | translate}}:</label>
          <p class="col-md-7">{{title}}</p>
        </section>
  
        <section class="col-md-4 row">
          <label class="col-md-4"> {{'Address' | translate}}:</label>
          <p class="col-md-7">{{address}}</p>
        </section>
      </div>

      <div class="row">
        <section class="col-md-4 row">
          <label class="col-md-4"> {{'District' | translate}}:</label>
          <p class="col-md-7">{{district}}</p>
        </section>
  
        <section class="col-md-4 row">
          <label class="col-md-4"> {{'Phone' | translate}}:</label>
          <p class="col-md-7">{{phone}}  {{phone1}}</p>
        </section>
        <section class="col-md-4"></section>
      </div>


  </div>
  </div>
</div>