
table{
    transition: none !important;
    box-shadow: none !important;
}
.example-container{
    overflow: auto;
}

.mat-header-cell, .mat-cell {
    min-width: 100px;
    word-wrap: break-word;
}

.card-header{
    background-color: #1fc6ad;
    // border: 1px solid #ddd;
    color: white;
}
h4{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.mat-row:hover {
    background-color: rgb(240, 239, 239);
  }
  label{
    font-weight: 700;
    color : #212741
}