<section class="container-fluide">
  <h2 class="">{{'gross' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3  dash">
          <form class="search-form" #form="ngForm" (ngSubmit)="Gross(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="gname" required [(ngModel)]="gname">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="gactive" required [(ngModel)]="gactive">
                <mat-option value="3">{{'all' | translate}}</mat-option>
                <mat-option value="1">{{'yes' | translate}}</mat-option>
                <mat-option value="0">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
          <button class="success-bg btn-block log" (click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>

          <ng-template #content let-modal>
            <div role="document">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addform="ngForm" (ngSubmit)="addPricelist(addform.value)">
            <div class="modal-body ">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{'id' | translate}}</label>
                <div v class="col-sm-8">
                  <input class="form-control" readonly name="currencyid" required [(ngModel)]="currencyid">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{'name' | translate}}</label>
                <div class="col-sm-8">
                  <input  class="form-control" placeholder="Enter Name" name="namepricelist" required [(ngModel)]="namepricelist">
              </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{'currency' | translate}}</label>
                <div class="col-sm-8">
                  <select class="form-control" name="currencypricelist" [(ngModel)]="currencypricelist">
                    <option >{{'all' | translate}}</option>
                    <option >{{'yes' | translate}}</option>
                    <option >{{'no' | translate}}</option>
                  </select>
                 </div>
 <select class="form-control" name="payercategory" [(ngModel)]="payercategory">
                      <option *ngFor="let category of payercategory" [value]="category.ID">{{category.Name}}</option>

              </div> -->
              <div class="form-group row">
                <label class="col-form-label col-sm-4">{{'currency' | translate}}</label>
                <div class="col-sm-8">
                  <select class="form-control" name="currencypricelist" [(ngModel)]="currencypricelist">
                    <option *ngFor="let currenyy of currencypricelist" [value]="currenyy.ID">{{currenyy.Name}}</option>
                  </select>
                  </div>
                 </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Active</label>
                <div class="col-sm-8">
                  <select class="form-control" name="activepricelist" [(ngModel)]="activepricelist">
                    <!-- <option >{{'all' | translate}}</option> -->
                    <option >{{'yes' | translate}}</option>
                    <option >{{'no' | translate}}</option>
                  </select>
                 </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" >{{'save' | translate}}</button>
            </div>
            </form>
          </div>
          </ng-template>
         
  <br><br>
      </section>
      <section class="col-md-9 first scroll">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'priceid' | translate}}</th>
                  <th scope="col">{{'pricename' | translate}}</th>
                  <th scope="col">{{'currency' | translate}}</th>
                  <th scope="col">{{'active' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pricelist of pricelists">
                  <th scope="row">{{pricelist.ID}}</th>
                  <td>{{pricelist.Name}}</td>
                  <td>{{pricelist.CurrencyID}}</td>
                  <td>{{pricelist.Active}}</td>
                  <td>{{pricelist.CreateDT}}</td>

                </tr>
              </tbody>
            </table>
      </section>
  </section>
</section>





