<section class="container-fluide">
  <h2 class="">{{'gross' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Gross(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="gname" required [(ngModel)]="gname">
            </mat-form-field><br>
            <mat-form-field>
              <section class="container-fluide">
                <h2 class="">{{'gross' | translate}}</h2><br>
                <section class="row">
                    <section class="col-md-3">
                      <div class="card">
                        <div class="card-body">
                        <form class="search-form" #form="ngForm" (ngSubmit)="Gross(form.value)">
                     
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="{{'name' | translate}}" name="gname" required [(ngModel)]="gname">
                          </mat-form-field><br>
                          <mat-form-field>
                            <mat-select placeholder="{{'active' | translate}}" name="gactive" required [(ngModel)]="gactive">
                              <mat-option value="3">{{'all' | translate}}</mat-option>
                              <mat-option value="1">{{'yes' | translate}}</mat-option>
                              <mat-option value="0">{{'no' | translate}}</mat-option>
                            </mat-select>
                          </mat-form-field><br>
                          <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
                        </form><br>
                        <button class="success-bg btn-block log" (click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
              </div>
              </div>
                        <ng-template #content let-modal>
                          <div role="document">
                          <div class="modal-header">
                            <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form #addform="ngForm" (ngSubmit)="addPricelist(addform.value)">
                            <section class="row ml-3">
                              <section class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{'id' | translate}}" readonly name="currencyid"  [(ngModel)]="currencyid">
                                </mat-form-field>
                              </section>
                              <section class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{'name' | translate}}" name="namepricelist"  [(ngModel)]="namepricelist">
                                </mat-form-field>
                              </section>
                            </section>
                            <section class="row ml-3">
                              <section class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <mat-select placeholder="{{'active' | translate}}"  name="activepricelist" [(ngModel)]="selectedactive">>
                                    <mat-option >{{'yes' | translate}}</mat-option>
                                    <mat-option >{{'no' | translate}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </section>
                              <section class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <mat-select placeholder="{{'currency' | translate}}"   name="currencypricelist" [(ngModel)]="selectedcurrancy">
                                    <mat-option *ngFor="let currenyy of currencypricelist" [value]="currenyy.ID">{{currenyy.Name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </section>
                            </section>
                          <!-- <div class="modal-body ">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label">{{'id' | translate}}</label>
                              <div v class="col-sm-8">
                                <input class="form-control" readonly name="currencyid"  [(ngModel)]="currencyid">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label">{{'name' | translate}}</label>
                              <div class="col-sm-8">
                                <input  class="form-control" placeholder="Enter Name" name="namepricelist"  [(ngModel)]="namepricelist">
                            </div>
                            </div>
               
                            <div class="form-group row">
                              <label class="col-form-label col-sm-4">{{'currency' | translate}}</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="currencypricelist" [(ngModel)]="currencypricelist">
                                  <option *ngFor="let currenyy of currencypricelist" [value]="currenyy.ID">{{currenyy.Name}}</option>
                                </select>
                                </div>
                               </div>
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Active</label>
                              <div class="col-sm-8">
                                <select class="form-control" name="activepricelist" [(ngModel)]="activepricelist">
                                  <option >{{'yes' | translate}}</option>
                                  <option >{{'no' | translate}}</option>
                                </select>
                               </div>
                            </div>
                          </div> -->
                          <div class="modal-footer">
                            <button class="btn btn-primary" >{{'save' | translate}}</button>
                          </div>
                          </form>
                        </div>
                        </ng-template>
                       
                <br><br>
                    </section>
                    <section class="col-md-9 first ">
                      <div class=" example-container">
                      <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
                      
                        <ng-container matColumnDef="ID">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'priceid' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pricename' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="CurrencyID">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'currency' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.CurrencyID}} </td>
                        </ng-container>
                        
                        <!-- Name Column -->
                        <ng-container matColumnDef="Active">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="CreateDT">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'createdt' | translate}} </th>
                          <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
                      </div>
                      <!-- <div class="card">
                        <div class="card-body ">
                        <table class="table table-hover" >
                            <thead>
                              <tr>
                                <th scope="col">{{'priceid' | translate}}</th>
                                <th scope="col">{{'pricename' | translate}}</th>
                                <th scope="col">{{'currency' | translate}}</th>
                                <th scope="col">{{'active' | translate}}</th>
                                <th scope="col">{{'createdt' | translate}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pricelist of pricelists">
                                <th scope="row">{{pricelist.ID}}</th>
                                <td>{{pricelist.Name}}</td>
                                <td>{{pricelist.CurrencyID}}</td>
                                <td>{{pricelist.Active}}</td>
                                <td>{{pricelist.CreateDT}}</td>
              
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          </div> -->
                    </section>
                </section>
              </section>
              
              
              
              
              
              <mat-select placeholder="{{'active' | translate}}" name="gactive" required [(ngModel)]="gactive">
                <mat-option value="3">{{'all' | translate}}</mat-option>
                <mat-option value="1">{{'yes' | translate}}</mat-option>
                <mat-option value="0">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
          <button class="success-bg btn-block log" (click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
</div>
</div>
          <ng-template #content let-modal>
            <div role="document">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addform="ngForm" (ngSubmit)="addPricelist(addform.value)">
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}" readonly name="currencyid"  [(ngModel)]="currencyid">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'name' | translate}}" name="namepricelist"  [(ngModel)]="namepricelist">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="{{'active' | translate}}"  name="activepricelist" [(ngModel)]="selectedactive">>
                      <mat-option >{{'yes' | translate}}</mat-option>
                      <mat-option >{{'no' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="{{'currency' | translate}}"   name="currencypricelist" [(ngModel)]="selectedcurrancy">
                      <mat-option *ngFor="let currenyy of currencypricelist" [value]="currenyy.ID">{{currenyy.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
            <!-- <div class="modal-body ">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{'id' | translate}}</label>
                <div v class="col-sm-8">
                  <input class="form-control" readonly name="currencyid"  [(ngModel)]="currencyid">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">{{'name' | translate}}</label>
                <div class="col-sm-8">
                  <input  class="form-control" placeholder="Enter Name" name="namepricelist"  [(ngModel)]="namepricelist">
              </div>
              </div>
 
              <div class="form-group row">
                <label class="col-form-label col-sm-4">{{'currency' | translate}}</label>
                <div class="col-sm-8">
                  <select class="form-control" name="currencypricelist" [(ngModel)]="currencypricelist">
                    <option *ngFor="let currenyy of currencypricelist" [value]="currenyy.ID">{{currenyy.Name}}</option>
                  </select>
                  </div>
                 </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Active</label>
                <div class="col-sm-8">
                  <select class="form-control" name="activepricelist" [(ngModel)]="activepricelist">
                    <option >{{'yes' | translate}}</option>
                    <option >{{'no' | translate}}</option>
                  </select>
                 </div>
              </div>
            </div> -->
            <div class="modal-footer">
              <button class="btn btn-primary" >{{'save' | translate}}</button>
            </div>
            </form>
          </div>
          </ng-template>
         
  <br><br>
      </section>
      <section class="col-md-9 first scroll">
        <div class="card">
          <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'priceid' | translate}}</th>
                  <th scope="col">{{'pricename' | translate}}</th>
                  <th scope="col">{{'currency' | translate}}</th>
                  <th scope="col">{{'active' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pricelist of pricelists">
                  <th scope="row">{{pricelist.ID}}</th>
                  <td>{{pricelist.Name}}</td>
                  <td>{{pricelist.CurrencyID}}</td>
                  <td>{{pricelist.Active}}</td>
                  <td>{{pricelist.CreateDT}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div>
      </section>
  </section>
</section>





