<div class="mat-elevation-z8 example-container">
  
    <table mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i +1 }} </td>
      </ng-container>
      
      <ng-container matColumnDef="vname">
        <th mat-header-cell *matHeaderCellDef> {{'Doctor name' | translate}} </th>
        <td mat-cell *matCellDef="let element" > {{element.vendor.name}}</td>
      </ng-container>
     
      
      <ng-container matColumnDef="Client">
          <th mat-header-cell *matHeaderCellDef> {{'Client name' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.client.user.name}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align: center;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
    
    </div>