
.dash{
    border-right: 2px solid red;
}

table{
    transition: none !important;
    box-shadow: none !important;
}
.example-container{
    overflow: auto;
}

.mat-header-cell{
    color: rgb(158, 155, 155);
    font-weight: normal;
}
.mat-header-cell, .mat-cell {
    min-width: 130px;
    word-wrap: break-word;
}

.try{
    min-width: 60px;

}
.pointer{
    cursor: pointer;
}
.two{
    display: none;
}
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
}
.container-fluide{
    padding: 20px;
}
.card-header{
    background-color: white;
}

.rest{
    display: none;
}
.horizontal{
    overflow-x: auto;
}
h2,h4{
font-size: larger;
}
th{
    font-size: small;
    font-weight: bold;
    color: rgba(22, 21, 21, 0.644);
}

.cooo{
    background-color: #428bca;
    border-radius: 70px;
    text-align: center;
    color: white;
    font-weight: lighter;
    width: 50px;
    height: 50px;
     cursor: pointer;
    line-height: 50px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
   
}
.center{
    text-align: center;
}
.addborder{
    border-radius: 15px;
}
.left{
    text-align: left;
}
.loader-bg{
//     background-color: white;
//     position: relative;
//     bottom: 45px;
//     right:45px;
// height: 330px;
// width:700px;
// display: none;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width:150px;
    height: 150px;
    position: relative;
    // display: none;
    // margin-left: 200px !important;
    // top: calc(15vh - 75px);
    // left: calc(20vw - 75px);

}
.loader::before, .loader::after{
    content: '';
    // border: 1em solid #ff5733;
    border: 1em solid #006699;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite ;
    opacity: 0;
}
.loader::before{
    animation-delay: 0.2s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}

