<section class="container-fluide">
  <h2 class="">{{'sbills' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3 ">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Sinvoice(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'bfrom' | translate}}" type="date" name="sfrom" required [(ngModel)]="sfrom">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'bto' | translate}}" type="date" name="sto" required [(ngModel)]="sto">
            </mat-form-field><br>
             <mat-form-field>
            <!--  <mat-select placeholder="{{'payer' | translate}}" name="spayer" required [(ngModel)]="spayer">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field><br> -->
            <mat-select placeholder="{{'payer' | translate}}" name="payer" required [(ngModel)]="selectedpayer">
              <mat-option *ngFor="let payer of gpayer" [value]="payer.ID" >{{payer.Name}}</mat-option>
            </mat-select>
          </mat-form-field><br>


            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'bid' | translate}}" name="bid" required [(ngModel)]="bid">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="active" required [(ngModel)]="active">
                <mat-option value="option">Yes</mat-option>
                <mat-option value="option">No</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form>
          </div>
          </div>
  <br><br>
      </section>
    
      <section class="col-md-9 ">
        <div class=" example-container">
        <table mat-table [dataSource]="dataSource" matSort class=" mat-elevation-z8" >
        
          <ng-container matColumnDef="BillID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'bid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.BillID}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'bdate' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="payerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'payer' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
          </ng-container>

          <!--Column-->
          <ng-container matColumnDef="periodFrom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pfrom' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.periodFrom}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="periodTo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'pto' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.periodTo}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'total' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
          </ng-container>

                    <!--Column-->
                    <ng-container matColumnDef="Discount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'dicount' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.Discount}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Received">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'recieved' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.Received}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Remaining">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'remaining' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.Remaining}} </td>
                    </ng-container>
        
                    <!--Column-->
                    <ng-container matColumnDef="Active">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'active' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="CreateUID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createuid' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.CreateUID}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="CreateDT">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
                    </ng-container>
                     <!-- Name Column -->
                     <ng-container matColumnDef="ModifyUID">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'modifyuid' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.ModifyUID}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="ModifyDT">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'modifydt' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.ModifyDT}} </td>
                    </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="page" [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
        <!-- <div class="card">
          <div class="card-body" >
        <section class="first scroll">
   
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let search of searching">
                  <th scope="row">{{search.BillID}}</th>
                  <td>{{search.Date}}</td>
                  <td>{{search.payerName}}</td>
                  <td>{{search.periodFrom}}</td>
                  <td>{{search.periodTo}}</td>
                  <td>{{search.Total}}</td>
                  <th>{{search.Discount}}</th>
                  <td>{{search.Received}}</td>
                  <td>{{search.Remaining}}</td>
                  <td>{{search.active}}</td>
                  <td>{{search.CreateUID}}</td>
                  <td>{{search.CreateDT}}</td>
                  <td>{{search.ModifyUID}}</td>
                  <td>{{search.ModifyDT}}</td>
                </tr>
              </tbody>
            </table>
          
          </section>

    </div>
  </div> -->
</section>
  </section>
</section>