<section class="container-fluide">
  <h2 class="">{{'profile' | translate}}</h2><br>
  <section class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body ">
          <form class="search-form" #form="ngForm" (ngSubmit)="Profile(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="pname" required [(ngModel)]="pname">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'cpt' | translate}}"  name="pcpt" required [(ngModel)]="pcpt">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="pactive" required [(ngModel)]="pactive">
                <mat-option value="3">{{'all' | translate}}</mat-option>
                <mat-option value="1">{{'yes' | translate}}</mat-option>
                <mat-option value="0">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
          <button class="success-bg btn-block "(click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>           
          <button class="success-bg btn-block addd" mat-raised-button >{{'Add' | translate}}</button>            
        </div>
         </div>
         </div>
          <ng-template #content let-modal>
            <div role="document">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addform="ngForm" (ngSubmit)="addProfile(addform.value)">
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}" readonly name="idprofile"  [(ngModel)]="idprofile">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'cpt' | translate}}"  name="cptprofile"  [(ngModel)]="cptprofile">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'name' | translate}}" name="nameprofile"  [(ngModel)]="nameprofile">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="{{'gender' | translate}}"  name="genderprofile" [(ngModel)]="selectedgender">
                      <mat-option *ngFor="let gender of genderprofile" [value]="gender.ID" >{{gender.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'printas' | translate}}" name="printprofile"  [(ngModel)]="printprofile">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="{{'active' | translate}}"  name="activeprofile" [(ngModel)]="selectedactive">
                      <mat-option >{{'no' | translate}}</mat-option>
                      <mat-option >{{'yes' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
          
     
            <div class="modal-footer">
              <button class="btn btn-primary" >{{'save' | translate}}</button>
            </div>
            </form>
        
          </div>
          </ng-template> 
         
  <br><br>
      
      <section class="col-md-9 first ">
        <div class=" example-container one">
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
        
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'profileid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'profilename' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>

          <ng-container matColumnDef="HIS_Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'cpt' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.HIS_Code}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
          </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="CreateDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- <section class="scroll one">
          <div class="card">
            <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'profileid' | translate}}</th>
                  <th scope="col">{{'profilename' | translate}}</th>
                  <th scope="col">{{'cpt' | translate}}</th>
                  <th scope="col">{{'active' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let profile of profiles">
                  <th scope="row">{{profile.ID}}</th>
                  <td>{{profile.Name}}</td>
                  <td>{{profile.HIS_Code}}</td>
                  <td>{{profile.Active}}</td>
                  <td>{{profile.CreateDT}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div>
          </section> -->
          <section class="second">
            <form #addform="ngForm" (ngSubmit)="addProfile(addform.value)"><br>
            <h4>{{'profiledetials' | translate}}</h4>
            <section class="row">
              <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}"  readonly name="idprofile" [(ngModel)]="id">
                  </mat-form-field>
            </section>
          </section>
          <section class="row">
            <section class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'cpt' | translate}}"  name="cptprofile" [(ngModel)]="cpt">
              </mat-form-field>
            </section>
            <section class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'name' | translate}}"  name="nameprofile" [(ngModel)]="name">
              </mat-form-field>
            </section>
            <section class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'printas' | translate}}"  name="printprofile" [(ngModel)]="printas">
              </mat-form-field>
            </section>
            <section class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="{{'gender' | translate}}" name="genderprofile" [(ngModel)]="gender">
                  <mat-option *ngFor="let gender of genderprofile" [value]="gender.ID">{{gender.Name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>
          <section class="row">
            <section class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="{{'active' | translate}}" name="activeprofile"  [(ngModel)]="active">
                  <mat-option value="1">{{'yes' | translate}}</mat-option>
                  <mat-option value="0">{{'no' | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
            <section class="col-md-5"></section>
            <section class="col-md-4">
              <button class="primary-bg btn-block " mat-raised-button >{{'Add' | translate}}</button>
            </section>
          </section>
        </form> <br>
        
        <section class="row">
          <section class="col-md-6 ">
            <section class="scroll">
              <div class="card">
                <div class="card-body">
              
              <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">{{'cpt' | translate}}</th>
                      <th scope="col">{{'name' | translate}}</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let profile of profiles">
                      <th>{{profile.ID}}</th>
                      <td>{{profile.Name}}</td>   
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
              </section>
          </section>
          <section class="col-md-6 ">
            <section class="scroll">
              <div class="card">
                <div class="card-body">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">{{'cpt' | translate}}</th>
                    <th scope="col">{{'name' | translate}}</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let profile of profiles">
                    <th>{{profile.ID}}</th>
                    <td>{{profile.Name}}</td>   
                  </tr>
                </tbody>
              </table>
              </div>
              </div>
              </section>
        </section>
        </section>
        </section>
        </section>
</section>





