<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>

    <section class="container">
        <div class="card">
            <div class="card-header">
            {{'Profile Information' | translate}}    
            </div>
            <form #form="ngForm" (ngSubmit)="Update(form.value)">
            <div class="card-body ">
                <div class="container ml-5">
                    <section class="row rid">
                        <section class="col-md-6">
                          <mat-form-field>
                            <input matInput placeholder="ID" readonly name="id" [(ngModel)] = "id">
                        </mat-form-field> 
                        </section>
                      </section>
            <section class="row">
                <section class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="{{'Name' | translate}}"  name="name" [(ngModel)] = "name">
                    </mat-form-field> 
                </section>
                <section class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="{{'Email' | translate}}" type="email" name="email" [(ngModel)] = "email">
                    </mat-form-field> 
                </section>
            </section>
            <section class="row">
                <section class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="{{'Phone' | translate}}"  name="phone" [(ngModel)] = "phone">
                    </mat-form-field> 
                </section>
            </section>
        </div>
            </div>
            <div class="card-footer">
                <section class="row">
                    <section class="col-md-9"></section>
                    <section class="col-md-3">
                        <button class="primary-bg btn-block" mat-raised-button>{{'update' | translate}}</button>
                    </section>
                </section>
                
            </div>
        </form>
          </div>
        </section>