
.dash{
    border-right: 2px solid red;
}
table{
    background-color: white;
}
h1{
    text-align: center;

}
.table{
    overflow-x: auto;
}
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
}
.container-fluide{
    padding: 20px;
}
h2,h4{
    font-size: larger;
    text-align: center;
    }
    th{
        font-size: small;
        font-weight: bold;
        color: rgba(22, 21, 21, 0.644);
    }