<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p></ngx-spinner>

<div class="container-fluide">
<form #form="ngForm" (ngSubmit)="FilterAds(form.value)">
  <section class="row">
    <section class="col-md-3 mt-3">
      <p>{{'Show All Ads' | translate}}</p>
      </section>
  <section class="col-md-3">
    <mat-form-field>
      <mat-select name="status" placeholder="{{'Status' | translate}}" [(ngModel)]="selectedstatus">
        <mat-option value=" ">{{'All' | translate}}</mat-option>
        <mat-option value="active">{{'Active' | translate}}</mat-option>
        <mat-option value="inActive">{{'In active' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section class="col-md-3">
    <button class="btn btn-block mt-3">{{'Search' | translate}}</button>
  </section>
  <section class="col-md-3">  </section>
</section>
  <div class="mat-elevation-z8 example-container">

  <table mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> {{'image' | translate}} </th>
      <td mat-cell *matCellDef="let element" >
        <img [src]="element.image"
        onerror= "this.src='assets/img/1274512-placeholder.png';">      
      </td>
    </ng-container>
   
    <!-- Weight Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> {{'Title' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> {{'End Date' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:'short'}} </td>
    </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="pointer"> {{'Action' | translate}} </th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon style="color:dodgerblue" class="pointer"  (click)="selectedRow(element)" (click)="openLg(content)" >edit </mat-icon>  
                <mat-icon style="color:red"class="pointer" title="delete" (click)="Delete(element)">delete</mat-icon>  
                <mat-icon style="color:#ffae00"class="pointer" name="inactive" title="inactive" *ngIf="element.state === 'inActive'" (click)="Active(element)">highlight_off</mat-icon>  
                <mat-icon style="color:green"class="pointer" name="active" title="active" *ngIf="element.state === 'active'" (click)="Active(element)">check_circle_outline</mat-icon>
            </td>
            </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align: center;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  </div>
  </form>
</div>


  <!--********************************************************************************-->
  <ng-template #content let-modal>
    <ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
      <p style="color: white" > Loading... </p></ngx-spinner>
    <div class="modal-header">
      <h4 class="modal-title">Update Ads</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #form="ngForm" (ngSubmit)="Update(form.value)">
  
    <div class="modal-body">
      <section class="row ">
        <section class="col-md-6 rid">
          <mat-form-field>
            <input matInput placeholder="ID" readonly name="id" [(ngModel)] = "id">
        </mat-form-field> 
        </section>
  
      </section>
<section class="row">
    <section class="col-md-6">
        <mat-form-field>
            <input matInput placeholder="{{'Enter Title in English' | translate}}" name="upETitle" [(ngModel)] = "editETitle">
        </mat-form-field>
    </section>
    <section class="col-md-6">
        <mat-form-field>
            <input matInput placeholder="{{'Enter Title in Arabic' | translate}}" name="upATitle" [(ngModel)] = "editATitle">
        </mat-form-field>
    </section>
</section>
<section class="row">
    <section class="col-md-6">
      
    <mat-form-field>
      <mat-label>{{'End Date' | translate}}</mat-label>
      <input matInput [matDatepicker]="picker" name="endDate" [(ngModel)] = "editDate">
      <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    </section>
    <section class="col-md-6">
      <mat-form-field>
        <mat-select placeholder="{{'Doctor' | translate}}" name="doctors" [(ngModel)] = "selectedDoctor">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor._id">{{doctor.name}}
          </mat-option>
        </mat-select>
        </mat-form-field> 
    </section>
</section>
<section class="row">
  <section class="col-md-6">
    
    <img [src]="imageSrc"  style="max-width:100px;max-height:100px"
    onerror= "this.src='assets/img/1274512-placeholder.png';"/>
    <button (click)="uploadFile()" type="button" mat-raised-button >Upload</button>
  <mat-form-field class="rid">
    <input matInput placeholder="Color" name="imageSrc" [(ngModel)] = "imageSrc">
  </mat-form-field>
  </section>
</section>
   </div>
    <div class="modal-footer">
      <button class="primary-bg" mat-raised-button>{{'Save' | translate}}</button>
    </div>
  </form> 
  </ng-template>