
table{
    transition: none !important;
    box-shadow: none !important;
}
.example-container{
    overflow: auto;
}

.mat-header-cell, .mat-cell {
    min-width: 100px;
    word-wrap: break-word;
}

h4{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
img{
    width: 70px;
    height: 70px;
    padding:5px;
    border-radius: 50%;
}
.rid{
    display: none;
}