
.dash{
    border-right: 2px solid red;
}
.dashh{
    border-right: 1px solid dodgerblue;
}
table{
    background-color: white;
}
h1{
    text-align: center;

}
.container-fluide{
    padding: 20px;
}
.second{
    display: none
}
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
}
.bg-danger{
    color: white;
}
h5{
    color: dodgerblue;
}
h2{
    font-size: larger;
    text-align: center;
    }
    th{
        font-size: small;
        font-weight: bold;
        color: rgba(22, 21, 21, 0.644);
    }