<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>
    

<section class="container">
  <div class="card">
      <div class="card-header">
        <section class="row">
          <section class="col-md-3">
        {{'Update Doctor' | translate}}
          </section>
          <section class="col-md-9"></section>
        </section>
      </div>
      <form #form="ngForm" (ngSubmit)="Update(form.value)">
      <div class="card-body ">
          <div class="container">
              <!-- <section> -->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">{{'Personal Information' | translate}}</legend>
              <section class="row ml-5">
                <mat-form-field class="rid">
                  <input matInput placeholder=" {{'id' | translate}}" name="id" [(ngModel)] = "id">
              </mat-form-field>
                  <section class="col-md-4">
                      <mat-form-field>
                          <input matInput placeholder=" {{'Enter Name in English' | translate}}" name="EName" [(ngModel)] = "EName">
                      </mat-form-field>
                  </section>
                  <section class="col-md-4">
                      <mat-form-field>
                          <input matInput placeholder="{{'Enter Name in Arabic' | translate}}" name="AName" [(ngModel)] = "AName">
                      </mat-form-field>
                  </section>
                  <section class="col-md-4">
                      <mat-form-field>
                          <input matInput placeholder="{{'Enter Title in English' | translate}}" name="ETitle" [(ngModel)] = "ETitle">
                      </mat-form-field>
                  </section>
              </section>
            <section class="row ml-5">
                
              <section class="col-md-4">
                  <mat-form-field>
                      <input matInput placeholder="{{'Enter Title in Arabic' | translate}}" name="ATitle" [(ngModel)] = "ATitle">
                  </mat-form-field>
              </section>
              <section class="col-md-4">
                  <mat-form-field>
                      <textarea matInput placeholder=" {{'Enter Bio in English' | translate}}" name="EBio" [(ngModel)] = "EBio"></textarea>
                  </mat-form-field>
              </section>
              <section class="col-md-4">
                  <mat-form-field>
                      <textarea matInput placeholder="{{'Enter Bio in Arabic' | translate}}" name="ABio" [(ngModel)] = "ABio"></textarea>
                  </mat-form-field>
              </section>
              
        
          </section>
           <section class="row ml-5 justify-content-center">
            <section class="col-md-4">
                <label>{{'Image' | translate}}</label>
            <img [src]="imageSrc" style="max-width:300px;max-height:300px"/><br>
            <input  type="file" name="imageSrc" accept="image/*" (change)="handleInputChange($event)" />
        <mat-form-field class="rid">
            <input matInput placeholder="Color" name="imageSrc" [(ngModel)] = "imageSrc">
        </mat-form-field>
            </section>
            
            <section class="col-md-4">
                <label>{{'Logo' | translate}}</label>
            <img [src]="imageSrcLogo"  style="max-width:300px;max-height:300px"/><br>
            <input  type="file" name="imageSrcLogo" accept="image/*" (change)="handleInput($event)" />
        <mat-form-field class="rid">
            <input matInput placeholder="Color" name="imageSrcLogo" [(ngModel)] = "imageSrcLogo">
        </mat-form-field>
            </section>
           </section>
           </fieldset>
           
           <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{'Clinic Information' | translate}}</legend>
          <section class="row ml-5">
              <section class="col-md-4">
                  <mat-form-field>
                      <input matInput placeholder=" {{'Enter address in English' | translate}}" name="EAddress" [(ngModel)] = "EAddress">
                  </mat-form-field>
              </section>
              <section class="col-md-4">
                  <mat-form-field>
                      <input matInput placeholder="{{'Enter Address in Arabic' | translate}}" name="AAddress" [(ngModel)] = "AAddress">
                  </mat-form-field>
              </section>
              
              <section class="col-md-4">
                  <mat-form-field>
                      <input matInput placeholder=" {{'price' | translate}}" name="price" [(ngModel)] = "price" type="number">
                  </mat-form-field>
              </section>
          </section>
            <section class="row ml-5">
              <section class="col-md-4">
                  <mat-form-field>
                      <input matInput placeholder="{{'lat' | translate}}" name="lat" [(ngModel)] = "lat" type="number">
                  </mat-form-field>
              </section>
              
            <section class="col-md-4">
              <mat-form-field>
                  <input matInput placeholder=" {{'lang' | translate}}" name="lang" [(ngModel)] = "lang" type="number">
              </mat-form-field>
          </section>
          <section class="col-md-4">
              <mat-form-field>
                  <input matInput placeholder="{{'time' | translate}}" name="time" [(ngModel)] = "time" type="number">
              </mat-form-field>
          </section>
          </section>
          <section class="row ml-5">
              <section class="col-md-4">
                  <mat-form-field>
                      <mat-select placeholder="{{'Category' | translate}}" name="categories" [(ngModel)] = "selectedCategory">
                        <mat-option *ngFor="let category of categories" [value]="category._id">
                          {{category.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </section>
              <section class="col-md-4">
                  <mat-form-field>
                      <mat-select placeholder="{{'District' | translate}}" name="districts" [(ngModel)] = "selecteddistricts">
                        <mat-option *ngFor="let district of districts" [value]="district._id">
                          {{district.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </section>
              <section class="col-md-4 mt-2">
                  <mat-form-field>
                    <input matInput placeholder="{{'Number of booking' | translate}}" name="booking" [(ngModel)] = "booking">
                </mat-form-field>
              </section>
          </section>
          <section class="row ml-5">
            <section class="col-md-2" >
                <button mat-button (click)="opensm(contentsm)" type="button">
                    <mat-icon>add</mat-icon>
                    {{'Clinic Phone' | translate}}
                </button>
            
            </section>
            <section class="col-md-2 ml-3">   
                <section *ngFor="let try of selectedPhone" class="row">
                    <!-- <section class="col-md-11"> -->
                    {{try}}
                    <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete" class="ml-3 mt-1"  (click)="removePhone(i)">delete</mat-icon>         
                <!-- </section>
                <section class="col-md-1">
                    <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>         
                </section> -->
                </section>                 
            </section>
            <section class="col-md-8"></section>
        </section>
          </fieldset>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">{{'Receptionist Information' | translate}}</legend>
              <section class="row ml-5">
              <section class="col-md-4">
   <mat-form-field>
       <input matInput placeholder="{{'Name' | translate}}" name="name" [(ngModel)] = "name">
   </mat-form-field>
  </section>
  <section class="col-md-4">
   <mat-form-field>
       <input matInput placeholder="{{'Phone' | translate}}" name="phone" [(ngModel)] = "phone">
   </mat-form-field>
  </section>
  
  <section class="col-md-4">
  </section>
</section>
        </fieldset>
        <mat-divider></mat-divider>

      <!-- </section> -->
      <br>
      <div class="row ml-5">
        <section class="col-md-4" >
            <button mat-button (click)="openLg(content)" type="button">
                <mat-icon>add</mat-icon>
                {{'Add Working hours' | translate}}
            </button>
        </section>
        <section class="col-md-8"></section>
    </div>
        <section class="row justify-content-center">
            <section class="col-md-1 try " >
                <section class="card" style="border: none;">
                <div class="card-header title">{{'Sunday' | translate}}
                  </div> 
                  <section *ngFor="let try of selectedFeatures" >
                      <section  *ngIf="try.day == 1">
                  <div class="card-body" style="border: 1px solid #ddd;">
                            <section class="row pl-5"> 
                              <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                            </section>
                        <div class="row">
                            <p>{{try.from}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <p >{{try.to}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                          <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                            <p>{{try.max}}</p>
                        </div>
                  </div> 
                  <p></p>
              </section>
              </section>
                </section> 
            </section>
            <section class="col-md-1 try">
                <section class="card" style="border: none">
                <div class="card-header title">{{'Monday' | translate}}
                  </div> 
                  <section *ngFor="let try of selectedFeatures" >
                      <section  *ngIf="try.day == 2">
                  <div class="card-body" style="border: 1px solid #ddd;">
                            <section class="row pl-5"> 
                              <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                            </section>
                        <div class="row">
                            <p>{{try.from}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <p>{{try.to}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                          <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                            <p>{{try.max}}</p>
                        </div>
                  </div> 
                  <p></p>
              </section>
              </section>
                </section> 
            </section>
            <section class="col-md-1 try">
                <section class="card" style="border: none;">
                <div class="card-header title">{{'Tuesday' | translate}}
                  </div>
                  <section *ngFor="let try of selectedFeatures" >
                      <section  *ngIf="try.day == 3">
                  <div class="card-body" style="border: 1px solid #ddd;">
                            <section class="row pl-5"> 
                              <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                            </section>
                        <div class="row">
                            <p>{{try.from}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <p>{{try.to}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                          <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                            <p>{{try.max}}</p>
                        </div>
                  </div> 
                  <p></p>
              </section>
              </section>
                </section> 
            </section>
            <section class="col-md-1 try">
                <section class="card" style="border: none;">
                <div class="card-header">{{'Wednesday' | translate}}
                  </div>
                  <section *ngFor="let try of selectedFeatures" >
                      <section  *ngIf="try.day == 4">
                  <div class="card-body" style="border: 1px solid #ddd;">
                            <section class="row pl-5"> 
                              <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                            </section>
                        <div class="row">
                            <p>{{try.from}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                            <p>{{try.to}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row">
                          <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                            <p>{{try.max}}</p>
                        </div>
                  </div> 
                  <p></p>
              </section>
              </section> 
                </section> 
            </section>
            <section class="col-md-1 try">
              <section class="card " style="border: none;">
              <div class="card-header title">{{'Thursday' | translate}}
                </div> 
                <section *ngFor="let try of selectedFeatures" >
                  <section  *ngIf="try.day == 5">
              <div class="card-body" style="border: 1px solid #ddd;">
                        <section class="row pl-5"> 
                          <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                        </section>
                    <div class="row">
                        <p>{{try.from}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <p>{{try.to}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                        <p>{{try.max}}</p>
                    </div>
              </div> 
              <p></p>
          </section>
          </section>
              </section> 
          </section>
          
          <section class="col-md-1 try">
              <section class="card" style="border: none;">
              <div class="card-header title">{{'Friday' | translate}}
                </div> 
                <section *ngFor="let try of selectedFeatures" >
                  <section  *ngIf="try.day == 6">
              <div class="card-body" style="border: 1px solid #ddd;">
                        <section class="row pl-5"> 
                          <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                        </section>
                    <div class="row">
                        <p>{{try.from}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <p>{{try.to}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                        <p>{{try.max}}</p>
                    </div>
              </div> 
              <p></p>
          </section>
          </section>
              </section> 
          </section>
          <section class="col-md-1 try">
              <section class="card" style="border: none;">
              <div class="card-header title">{{'Saturday' | translate}}
                </div> 
                <section *ngFor="let try of selectedFeatures" >
                  <section  *ngIf="try.day == 7">
              <div class="card-body" style="border: 1px solid #ddd;">
                        <section class="row pl-5"> 
                          <mat-icon style="font-size: small;color:red;cursor: pointer" title="delete"  (click)="removeItem(i)">delete</mat-icon>
                        </section>
                    <div class="row">
                        <p>{{try.from}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                        <p>{{try.to}}</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <mat-icon style="font-size: small" title="delete" class="mt-1" (click)="removeItem(i)">person</mat-icon>
                        <p>{{try.max}}</p>
                    </div>
              </div> 
              <p></p>
          </section>
          </section>
              </section> 
          </section>
        </section>
    
<br>

  </div>
      </div>

      <div class="card-footer">
          <section class="row">
              <section class="col-md-9"></section>
              <section class="col-md-3">
                  <button class="btn btn-block">{{'Save' | translate}}</button>
              </section>
          </section>
          
      </div>
  </form>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <section class="row">
                <section class="col-md-3">
                    {{'Update Subscription' | translate}}
                </section>
                <section class="col-md-9"></section>
            </section>
        </div>
        
        <form #formSub="ngForm" (ngSubmit)="UpdateSub(formSub.value)">
        <div class="card-body">
            <div class="container ml-5">
                <section class="row justify-content-center">
                    <mat-form-field class="rid">
                        <input matInput placeholder=" {{'id' | translate}}" name="subID" [(ngModel)] = "subID">
                    </mat-form-field>
                    <section class="col-md-4">
                        <mat-form-field>
                            <mat-label>{{'Start Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker2" name="startDate" [(ngModel)] = "startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                              </mat-datepicker-toggle>
                         <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                    </section>
                    <section class="col-md-4">
                        <mat-form-field>
                            <mat-label>{{'End Date' | translate}}</mat-label>
                            <input matInput [matDatepicker]="picker" name="endDate" [(ngModel)] = "endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                              </mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                    </section>
                </section>
            </div>
        </div>
        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="btn btn-block">{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
        </form>
      </div>
  </section>
 



  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{'Add Working Hours' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" (ngSubmit)="Update(form.value)">
      <div class="modal-body">
          <section class="row">
              <section class="col-md-6">
                  <mat-form-field>
                      <mat-label>choose Day</mat-label>
                      <mat-select name="day"  [(ngModel)]="day">
                        <mat-option value="1">{{'Sunday' | translate}}</mat-option>
                        <mat-option value="2">{{'Monday' | translate}}</mat-option>
                        <mat-option value="3">{{'Tuesday' | translate}}</mat-option>
                        <mat-option value="4">{{'wednesday' | translate}}</mat-option>
                        <mat-option value="5">{{'Thrusday' | translate}}</mat-option>
                        <mat-option value="6">{{'Friday' | translate}}</mat-option>
                        <mat-option value="7">{{'Saturday' | translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
              </section>
              <section class="col-md-6">
                  <mat-form-field>
                      <input matInput placeholder="{{'Max' | translate}}" name="max"   [(ngModel)]="max">
                  </mat-form-field>
              </section>
          </section>
          <section class="row">
              <section class="col-md-6">
                  <mat-form-field>
                      <input matInput placeholder="{{'From' | translate}}" name="from"  type="time"  [(ngModel)]="from">
                  </mat-form-field>
              </section>
              <section class="col-md-6">
                  <mat-form-field>
                      <input matInput placeholder="{{'To' | translate}}" name="to" type="time"  [(ngModel)]="to">
                  </mat-form-field>
              </section>
          </section>
     </div>
      <div class="modal-footer">
        <button class="primary-bg" type="button" mat-raised-button (click)="onAdd()">{{'Save' | translate}}</button>
      </div>
    </form> 
    </ng-template>

    <ng-template #contentsm let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{'Add Clinic Phones' | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <mat-form-field>
                <input matInput placeholder="{{'Phone' | translate}}" name="phoneAdd" type="number"  [(ngModel)]="phoneAdd">
            </mat-form-field>
       </div>
        <div class="modal-footer">
          <button class="primary-bg" type="button" mat-raised-button (click)="addPhone()">{{'Save' | translate}}</button>
        </div>
      </ng-template>