<section class="container-fluide">
    <h2 class="">{{'archiving' | translate}}</h2><br>
    <section class="row">
        <section class="col-md-3 dash">
            <form class="search-form" #form="ngForm" (ngSubmit)="Rack(form.value)">
         
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'rackdescription' | translate}}" name="rack" required [(ngModel)]="rack">
              </mat-form-field><br>
              
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'rackid' | translate}}" name="rackid" disabled required [(ngModel)]="rackid">
              </mat-form-field><br>
              <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="aactive" required [(ngModel)]="aactive">
                <mat-option value="3">{{'all' | translate}}</mat-option>
                <mat-option value="1">{{'yes' | translate}}</mat-option>
                <mat-option value="0">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
              <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
            </form><br>
            <button class="success-bg btn-block log" (click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>

            <ng-template #content let-modal>
              <div role="document">
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #addform="ngForm" (ngSubmit)="addRack(addform.value)">
              <div class="modal-body ">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{'description' | translate}}</label>
                  <div v class="col-sm-8">
                    <input class="form-control" name="description" required [(ngModel)]="description">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{'no.ofrow' | translate}}</label>
                  <div class="col-sm-8">
                    <input  class="form-control" name="row" required [(ngModel)]="row">
                </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">{{'no.ofcolumn' | translate}}</label>
                    <div class="col-sm-8">
                      <input  class="form-control"name="column" required [(ngModel)]="column">
                  </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" >{{'save' | translate}}</button>
              </div>
              </form>
            </div>
            </ng-template>
           
    <br><br>
        </section>
        <section class="col-md-9 first scroll">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">{{'rackid' | translate}}</th>
                    <th scope="col">{{'description' | translate}}</th>
                    <th scope="col">{{'row' | translate}}</th>
                    <th scope="col">{{'column' | translate}}</th>
                    <th scope="col">{{'active' | translate}}</th>
                    <th scope="col">{{'createdt' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rack of rackss">
                    <th scope="row">{{rack.ID}}</th>
                    <td>{{rack.Description}}</td>
                    <td>{{rack.Rows}}</td>
                    <td>{{rack.Columns}}</td>
                    <td>{{rack.Active}}</td>
                    <td>{{rack.CreateDT}}</td>
                  </tr>
                </tbody>
              </table>
        </section>
    </section>






