<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>
<section class="container">
    <div class="card" *ngIf="roles != 'editor'">
        <div class="card-header">
            <section class="row">
                <section class="col-md-3">

                    {{'Add Admin' | translate}}
                </section>
                <section class="col-md-9"></section>
            </section>
        </div>
        <form #form="ngForm" (ngSubmit)="Add(form.value)">
        <div class="card-body ">
            <div class="container ml-5">
        <section class="row justify-content-center">
            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'Enter Name' | translate}}" name="name" autocomplete="off" [(ngModel)] = "name">
                </mat-form-field>
            </section>
            <section class="col-md-4">
                <mat-form-field>
                    <input matInput type="email" placeholder="{{'Enter E-mail' | translate}}" name="email" autocomplete="off" [(ngModel)] = "email">
                </mat-form-field>
            </section>
            <!-- <section class="col-md-4"></section> -->
        </section>
        <section class="row justify-content-center">
            <section class="col-md-4">
                <mat-form-field>
                    <input matInput placeholder="{{'Enter Phone Number' | translate}}" name="phone" autocomplete="off" [(ngModel)] = "phone">
                </mat-form-field>
            </section>
            <section class="col-md-4">
                <mat-form-field>
                    <input matInput type="password" placeholder="{{'Enter Password' | translate}}" name="password" [(ngModel)] = "password">
                </mat-form-field>
            </section>
            <!-- <section class="col-md-4"></section> -->
        </section>
        <section class="row justify-content-center">
            <section class="col-md-4">
                <!-- <mat-form-field>
                    <input matInput placeholder="{{'Enter Admin Role' | translate}}" name="role" autocomplete="off" [(ngModel)] = "role">
                </mat-form-field> -->
                <mat-form-field>
                    <mat-select name="role" placeholder="{{'Enter Admin Role' | translate}}" [(ngModel)]="selectedRole">
                      <mat-option value="super">{{'Super' | translate}}</mat-option>
                      <mat-option value="editor">{{'Editor' | translate}}</mat-option>
                      <mat-option value="contributer">{{'Contributer' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </section>
            <section class="col-md-4">
            </section>
            <!-- <section class="col-md-4"></section> -->
        </section>
    </div>
        </div>
        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="btn  btn-block">{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
    </form>
      </div>
      <section>
      <div class="alert alert-danger" role="alert" *ngIf="roles === 'editor'">
            Sorry, You're not allowed to add a new admin!
      </div>
    </section>
    </section>