<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p></ngx-spinner>
<head>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<div class="main">
  <section class="row">
    <section class="col-md-2"></section>
    <section class="col-md-8">
    <div id="chat-container">
      <div id="chat-title">
        <span id="username">{{name}}</span>
      </div>
      <div id="chat-message-list">
        <section>       
        <div class="" *ngFor="let try of tries">
          <section class="message-row other-message">
          <div class="message-text" *ngIf="try.userId !== adminID">{{try.text}}
          <div class="message-time" *ngIf="try.userId !== adminID">{{try.dateTime}}</div></div>
          <div class="message-time" *ngIf="try.userId !== adminID">{{try.user.name}}</div>
        </section>
          <section class="you-message message-row">
          <div class="message-text" *ngIf="try.userId === adminID">{{try.text}}
          <div class="message-time" *ngIf="try.userId === adminID">{{try.dateTime | date: 'short'}}</div></div>
          <div class="message-time" *ngIf="try.userId === adminID">{{try.user.name}}</div>
        </section>
        </div>
        <div  *ngFor="let text of sendMessage">  
          <section class="message-row you-message">
          <div class="message-text">{{text}}
          <div class="message-time">{{currentTime | date: 'short'}}</div>
        </div>
          <div class="message-time">{{adminName}}</div>
        </section>
        </div>
      </section>
      </div>
      <div id="chat-form">
        <input type="text" placeholder="Type a message" [(ngModel)]="message" (keyup.enter)="onEnter()"/>
        <button class="primary-bg ml-2" (click)="onEnter()" mat-raised-button>send</button>
      </div>
    </div>
   </section>
   <section class="col-md-2"></section>
   </section>
  </div>