<div class="main">
  <section class="row">
    <section class="col-md-2"></section>
    <section class="col-md-8">
    <div id="chat-container">
      <div id="seach-container">
        <input type="text" placeholder="Search">
      </div>
      <div id="conversation-list">

      </div>
      <div id="new-message-container">
        <a href="#">+</a>
      </div>
      <div id="chat-title">
        <span>What So Ever</span>
      </div>
      <div id="chat-message-list">
        <div class="message-row you-message">
          <div class="message-text">Lorem ipsum dolor sit amet, consetetur sit ansadipscing elitr, sed diam nonumy eirmodsa a tempor invidunt ut labo</div>
          <div class="message-time">timee</div>
        </div>
        <div class="message-row other-message">
          <div class="message-text">okaaaayyy</div>
          <div class="message-time">timee</div>
        </div>
      </div>
      <div id="chat-form">
        <input type="text" placeholder="Type a message"/>
      </div>
    </div>
   </section>
   <section class="col-md-2"></section>
   </section>
  </div>