#chat-container{
    display: grid;
    grid:
    ' chat-title' 51px
    ' chat-message-list' 1fr
    ' chat-form' 58px
    // / 175px
    ;
    min-width: 500px;
    max-width: 8000px;
    max-height: 800px;
    height: 75vh;
    background-color: #fff;
    border-radius: 10px;
}
.main{
    display: grid;
}
#seach-container,
#conversation-list,
#new-message-container {
    background-color: #19a994;
}
// #seach-container{
//     display: grid;
//     align-items: center;
//     padding: 0 20px;
//     grid-area: seach-container;
//     border-radius: 10px 0 0 0 ;
//     box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
//     z-index: 1;
// }
// #seach-container input{
//     color:#eee;
//     background:rgba(255,255,255,0.25);
//     outline: none;
//     // font-weight: bold;
//     // border-radius: 2px;
//     // height: 20px;
//     border: 0;
//     // font-size: 1.4rem;
//     // background-position: 15px center;
//     // background-size: 20px 20px;
// }
// #seach-container input::placeholder{
//     color: #ddd;
//     padding: 5px;
//     // font-weight: bold/;
// }
#conversation-list{
    // grid-area:conversation-list;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
}
.message-row{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 70%;
}

.message-text{
padding: 9px 14px;
font-size: 1rem;
}
.message-time{
    padding-left: 5px;
    font-size: 0.7rem;
    color:#212741
}
.you-message{
    justify-content: end;
    justify-items: end;
}
.other-message{
    justify-items: start;
}
.other-message .message-time{
    color:#19a994;
}
.you-message .message-text{
    background-color:#19a994;
    color: #eee;
    border: 1px solid #19a994;
    border-radius: 14px 14px 0 14px;
}
.other-message .message-text{
    justify-content: start;
    background-color:#eee;
    color: #212741;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}
// #new-message-container{
//     display: grid;
//     grid: 40px / 40px;
//     align-content:center ;
//     grid-area:new-message-container;
//     border-top: 1px solid rgba(0,0,0,0.25);
//     border-radius: 0 0 0 10px;
//     padding: 5px;
// }
// #new-message-container a{
//     display: grid;
//     place-content: center center;
//     background:#eee;
//     border-radius: 100%;
//     color:#002c88;
//     text-decoration: none;
//     font-size: 2.6rem;
// }
#chat-title,
#chat-form{
    background: rgb(255, 253, 253);
}
#chat-title{
    display: grid;
    grid: 36px / 1fr 36px;
    align-content: center;
    align-items: center;
    // grid-area: chat-title;
    color:#19a994;
    font-weight: bold;
    font-size: 1.0rem;
    border-radius:0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding-left: 15px;
}
#chat-message-list{
    grid-area:chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 7px;
    overflow-y: auto;
}
#chat-form{
    align-content: center;
    align-items: center ;
    grid-gap: 15px;
    padding: 7px;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
}
#chat-form input{
    outline: none;
    padding: 5px;
    width: 80%;
    border: 2px solid #ddd;
    color: #330;
    border-radius:6px;
    font-size: 1rem;
}
#chat-form button{
    width: 18%;
}