
.dash{
    border-right: 2px solid red;
}
table{
    background-color: white;
}
h1{
    text-align: center;

}
.first{
    overflow:auto;
}
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
}