<section class="container">
    <h1 class="">{{'country' | translate}}</h1><br>
    <section class="row">
        <section class="col-md-3 ml-2 dash">
            <form class="search-form" #form="ngForm" (ngSubmit)="Country(form.value)">
         
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'country' | translate}}" name="country" required [(ngModel)]="country">
              </mat-form-field><br>
              <mat-form-field>
                <mat-select placeholder="{{'active' | translate}}" name="active" required [(ngModel)]="active">
                  <mat-option value="option">{{'all' | translate}}</mat-option>
                  <mat-option value="option">{{'yes' | translate}}</mat-option>
                  <mat-option value="option">{{'no' | translate}}</mat-option>
                </mat-select>
              </mat-form-field><br>
              <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
            </form><br>
              <button class="success-bg btn-block log"(click)="openDialog()" mat-raised-button >{{'Add' | translate}}</button>

           
    <br><br>
        </section>
        <section class="col-md-8 first">
            <table class="table table-hover" >
                <thead>
                  <tr>
                    <th scope="col">{{'country' | translate}}</th>
                    <th scope="col">{{'shortname' | translate}}</th>
                    <th scope="col">{{'phonecode' | translate}}</th>
                    <th scope="col">{{'nation' | translate}}</th>
                    <th scope="col">{{'currency' | translate}}</th>
                    <th scope="col">{{'displayorder' | translate}}</th>
                    <th scope="col">{{'active' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td>@mdo</td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Otto</td>
                    <td>Thornton</td>
                    <td>@fat</td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >Larry </td>
                    <td>@twitter</td>
                    <td>Otto</td>
                    <td>Otto</td>


                  </tr>       <tr>
                    <th scope="row">4</th>
                    <td >Larry </td>
                    <td>@twitter</td>
                    <td>Otto</td>
                    <td>Otto</td>

                  </tr>       <tr>
                    <th scope="row">5</th>
                    <td >Larry </td>
                    <td>Otto</td>
                    <td>@twitter</td>
                    <td>Otto</td>
                  </tr>
                </tbody>
              </table>
        </section>
    </section>
</section>





