<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>
    

<div class="container-fluide">
<section class="row">
<div class="col-md-3" >
    <div class="card one mt-4">       
      <div class="card-body pt-2 pb-0">
        <span>{{'Active Super Admin' | translate}}</span>
          <div>
         <h5>{{activeAdmin}}</h5>
        </div>
        <div style="visibility: hidden;"><span>
            invisableeeee
            invisableeeee
        </span></div>
       </div>
    </div>
</div>

<div class="col-md-3" >
    <div class="card two mt-4" >       
      <div class="card-body pt-2 pb-0">
        <span>{{'inActive Super Admin' | translate}}</span>
          <div>
         <h5>{{inactiveAdmin}}</h5>
        </div>
        <div style="visibility: hidden;"><span>
            invisableeeee
            invisableeeee
        </span></div>
       </div>
    </div>
</div>

<div class="col-md-3" >
    <div class="card three mt-4">       
      <div class="card-body pt-2 pb-0">
        <span>{{'Super Admin' | translate}}</span>
          <div>
         <h5>{{superAdmin}}</h5>
        </div>
        <div style="visibility: hidden;"><span>
            invisableeeee
            invisableeeee
        </span></div>
       </div>
    </div>
</div>

<div class="col-md-3" >
    <div class="card fourteen mt-4" >       
      <div class="card-body pt-2 pb-0">
        <span>{{'Active Contributer Admin' | translate}}</span>
          <div>
         <h5>{{activeControbuter}}</h5>
        </div>
        <div style="visibility: hidden;"><span>
            invisableeeee
            invisableeeee
        </span></div>
       </div>
    </div>
</div>

</section>

<section class="row">
    <div class="col-md-3" >
        <div class="card five mt-4">       
          <div class="card-body pt-2 pb-0">
            <span>{{'inActive Contributer Admin' | translate}}</span>
              <div>
             <h5>{{inactiveControbuter}}</h5>
            </div>
            <div style="visibility: hidden;"><span>
                invisableeeee
                invisableeeee
            </span></div>
           </div>
        </div>
    </div>
    
    <div class="col-md-3" >
        <div class="card six mt-4" >       
          <div class="card-body pt-2 pb-0">
            <span>{{'Contributer Admin' | translate}}</span>
              <div>
             <h5>{{ControbuterAdmin}}</h5>
            </div>
            <div style="visibility: hidden;"><span>
                invisableeeee
                invisableeeee
            </span></div>
           </div>
        </div>
    </div>
    
    <div class="col-md-3" >
        <div class="card seven mt-4">       
          <div class="card-body pt-2 pb-0">
            <span>{{'Active Editor Admin' | translate}}</span>
              <div>
             <h5>{{activeEditor}}</h5>
            </div>
            <div style="visibility: hidden;"><span>
                invisableeeee
                invisableeeee
            </span></div>
           </div>
        </div>
    </div>
    
    <div class="col-md-3" >
        <div class="card eight mt-4" >       
          <div class="card-body pt-2 pb-0">
            <span>{{'inActive Editor Admin' | translate}}</span>
              <div>
             <h5>{{inactiveEditor}}</h5>
            </div>
            <div style="visibility: hidden;"><span>
                invisableeeee
                invisableeeee
            </span></div>
           </div>
        </div>
    </div>
    
    </section>
    <section class="row">
        <div class="col-md-3" >
            <div class="card nine mt-4">       
              <div class="card-body pt-2 pb-0">
                <span>{{'Editor Admin' | translate}}</span>
                  <div>
                 <h5>{{editorAdmin}}</h5>
                </div>
                <div style="visibility: hidden;"><span>
                    invisableeeee
                    invisableeeee
                </span></div>
               </div>
            </div>
        </div>
        
        <div class="col-md-3" >
            <div class="card ten mt-4" >       
              <div class="card-body pt-2 pb-0">
                <span>{{'Active Clients' | translate}}</span>
                  <div>
                 <h5>{{activeClient}}</h5>
                </div>
                <div style="visibility: hidden;"><span>
                    invisableeeee
                    invisableeeee
                </span></div>
               </div>
            </div>
        </div>
        
        <div class="col-md-3" >
            <div class="card eleven mt-4">       
              <div class="card-body pt-2 pb-0">
                <span>{{'inActive Clients' | translate}}</span>
                  <div>
                 <h5>{{inactiveClient}}</h5>
                </div>
                <div style="visibility: hidden;"><span>
                    invisableeeee
                    invisableeeee
                </span></div>
               </div>
            </div>
        </div>
        
        <div class="col-md-3" >
            <div class="card twelve mt-4" >       
              <div class="card-body pt-2 pb-0">
                <span>{{'Clients' | translate}}</span>
                  <div>
                 <h5>{{client}}</h5>
                </div>
                <div style="visibility: hidden;"><span>
                    invisableeeee
                    invisableeeee
                </span></div>
               </div>
            </div>
        </div>
        
        </section>
        
        <section class="row">
            <div class="col-md-3" >
                <div class="card three mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Doctor' | translate}}</span>
                      <div>
                     <h5>{{activeVendor}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card nine mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'inActive Doctor' | translate}}</span>
                      <div>
                     <h5>{{inactiveVendor}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card two mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Doctors' | translate}}</span>
                      <div>
                     <h5>{{Vendor}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card ten mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Group' | translate}}</span>
                      <div>
                     <h5>{{activeGroup}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            </section>

            
        <section class="row">
            <div class="col-md-3" >
                <div class="card thirteen mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'inActive Group' | translate}}</span>
                      <div>
                     <h5>{{inactiveGroup}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card fivteen mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Groups' | translate}}</span>
                      <div>
                     <h5>{{Group}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            
            <div class="col-md-3" >
                <div class="card six mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Ads' | translate}}</span>
                      <div>
                     <h5>{{activeAds}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card four mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'InActive Ads' | translate}}</span>
                      <div>
                     <h5>{{inactiveAds}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            </section>

            
        <section class="row">
            
            <div class="col-md-3" >
                <div class="card twelve mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Ads' | translate}}</span>
                      <div>
                     <h5>{{Ads}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card nine mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Bookings' | translate}}</span>
                      <div>
                     <h5>{{activeBooking}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card one mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'inActive Bookings' | translate}}</span>
                      <div>
                     <h5>{{inactivebooking}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card thirteen mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Bookings' | translate}}</span>
                      <div>
                     <h5>{{Booking}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            </section>
            
        <section class="row">
            <div class="col-md-3" >
                <div class="card seven mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Categories' | translate}}</span>
                      <div>
                     <h5>{{activeCategories}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card five mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'inActive Categories' | translate}}</span>
                      <div>
                     <h5>{{inactiveCategories}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card fourteen mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Categories' | translate}}</span>
                      <div>
                     <h5>{{Categories}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card two mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Reviews' | translate}}</span>
                      <div>
                     <h5>{{activeReviews}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            </section>
            
        <section class="row">
            
            <div class="col-md-3" >
                <div class="card six mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Reviews' | translate}}</span>
                      <div>
                     <h5>{{reviews}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card eleven mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Active Promo' | translate}}</span>
                      <div>
                     <h5>{{activePromo}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
                    
            <div class="col-md-3" >
                <div class="card ten mt-4">       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'inActive Promo' | translate}}</span>
                      <div>
                     <h5>{{inactivePromo}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            
            <div class="col-md-3" >
                <div class="card eight mt-4" >       
                  <div class="card-body pt-2 pb-0">
                    <span>{{'Promo Codes' | translate}}</span>
                      <div>
                     <h5>{{promocodes}}</h5>
                    </div>
                    <div style="visibility: hidden;"><span>
                        invisableeeee
                        invisableeeee
                    </span></div>
                   </div>
                </div>
            </div>
            

        </section>
            
</div>