*{
    color: white;
    font-size:large
}
.one{background-image: linear-gradient(to right top, #ff9679, #fa8e7f, #f38884, #eb8289, #e27d8e);}

.two{
    background-image: linear-gradient(to left top, #0073d5, #4072d7, #5e71d8, #7570d7, #8a6ed6);
}
.three{
    background-image: linear-gradient(to top, #c7f8ff, #a6d8e3, #87b9c8, #699bae, #4d7d94);
}
.four{
    background-image: linear-gradient(to left top, #4f0113, #79272b, #a54a44, #d26f5e, #ff9679);
}
.five{
    background-image: linear-gradient(to right top, #1b0d26, #221f3b, #273151, #294467, #28587b);
}

.six{
    background-image: linear-gradient(to left bottom, #00c9ae, #55d6bf, #7ee3d0, #a2f0e1, #c3fcf1);
}
.seven{
    background-image: linear-gradient(to left bottom, #7d7484, #63586b, #493e53, #31253c, #1b0d26);
}
.eight{
    background-image: linear-gradient(to right bottom, #00bdff, #26cddb, #83d3b5, #c0d4a6, #e8d5b5);
}
.nine{
    background-image: linear-gradient(to left top, #6abaa4, #4eb4bb, #53aacb, #749dce, #978ec2);
}
.ten{
    background-image: linear-gradient(to right, #fa1515, #f94d36, #f66e54, #f08973, #e7a292);
}
.eleven{
    background-image: linear-gradient(to left, #ae7171, #c2767b, #d77b88, #eb8096, #ff85a6);
}
.twelve{
    background-image: linear-gradient(to left bottom, #24b240, #15ae4c, #04a957, #00a560, #00a067);
}
.thirteen{
    background-image: linear-gradient(to top, #937cab, #6d6b97, #4a5a80, #284967, #06374d);
}
.fourteen{
    background-image: linear-gradient(to left bottom, #d01d74, #dc2a6e, #e63869, #ef4563, #f6535e);
}
.fivteen{
    background-image: linear-gradient(to right top, #930687, #98318c, #9c4991, #a05e95, #a3729a);
}
.sixteen{
    background-image: linear-gradient(to right, #008b94, #00a6ae, #00c1c9, #00dee4, #00fbff);
}