<!-- <head>
  <link href="assets\bootstrap\bootstrap.css" rel="stylesheet">
  <link href="assets\bootstrap\bootstrap.min.css" rel="stylesheet">
</head> -->
<section class="container-fluide">
  <h2 class="">{{'uom' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3 ">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="UOM(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}"  name="uname" required [(ngModel)]="uname">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="uactive" required [(ngModel)]="uactive">
                <mat-option value="option">{{'all' | translate}}</mat-option>
                <mat-option value="option">{{'yes' | translate}}</mat-option>
                <mat-option value="option">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
            <button class="success-bg btn-block log"(click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
          </div>
          </div>
            <ng-template #content let-modal>
              <div role="document">
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #addform="ngForm" (ngSubmit)="AddUOM(addform.value)">
              <!-- <div class="modal-body ">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{'id' | translate}}</label>
                  <div class="col-sm-8">
                    <input class="form-control" readonly name="addid" required [(ngModel)]="addid">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{'name' | translate}}</label>
                  <div class="col-sm-8">
                    <input class="form-control" placeholder="Enter Name" name="addname" required [(ngModel)]="addname">
                  </div>
                </div>

              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">{{'active' | translate}}</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="addactive" [(ngModel)]="addactive">
                      <option>{{'yes' | translate}}</option>
                      <option>{{'no' | translate}}</option>
                    </select>
                   </div>
                </div>
              </div> -->
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}"  readonly name="addid"  [(ngModel)]="addid">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'fname' | translate}}"  name="addname"  [(ngModel)]="addname">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'active' | translate}}" name="addactive" [(ngModel)]="addactive">
                      <mat-option value="yes">{{'yes' | translate}}</mat-option>
                      <mat-option value="no">{{'no' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <div class="modal-footer">
                <button class="btn btn-primary" >{{'save' | translate}}</button>
              </div>
              </form>
            </div>
            </ng-template>
         
  <br><br>
      </section>
      <section class="col-md-9 first">
        <!-- <div class="card">
          <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'uomid' | translate}}</th>
                  <th scope="col">{{'uomname' | translate}}</th>
                  <th scope="col">{{'active' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let try of tries">
                  <th scope="row">{{try.ID}}</th>
                  <td>{{try.Name}}</td>
                  <td>{{try.Active}}</td>
                  <td>{{try.CreateDT}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div> -->
            <div class="mt-3  example-container">
          
            <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
            
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'uomid' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'uomname' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="CreateDT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
              </ng-container>
                   
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
            </div><br><br>
      </section>
  </section>
</section>





