<div class="container">
    <section class="row">
        <section class="col-md-3"></section>
        <section class="col-md-6">
            <div class="chat"></div>
            <section class="row">
                <section class="col-md-9">
                    <div class="form-group">
                        <input class="form-control" placeholder="enter message">
                      </div>
                </section>
                <section class="col-md-2">
                    <button  class="btn btn-primary">Submit</button>
                </section>
            </section>
        </section>
        <section class="col-md-3"></section>
    </section>
</div>