<section class="container-fluide">
  <h2 class="">{{'supplier' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3 ">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Supply(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'name' | translate}}" name="supplyname" required [(ngModel)]="supplyname">
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'active' | translate}}" name="supplysactive" required [(ngModel)]="supplysactive">
                <mat-option value="option">{{'all' | translate}}</mat-option>
                <mat-option value="option">{{'yes' | translate}}</mat-option>
                <mat-option value="option">{{'no' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
          <button class="success-bg btn-block log"(click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
          </div>
          </div>
          <ng-template #content let-modal>
            <div role="document">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addform="ngForm" (ngSubmit)="AddSupply(addform.value)">
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'id' | translate}}"  readonly name="supplyid"  [(ngModel)]="supplyid">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'fname' | translate}}"  name="addname"  [(ngModel)]="addname">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'vatRegoNo' | translate}}"   name="vat"  [(ngModel)]="vat">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'contactname' | translate}}"  name="contactname"  [(ngModel)]="contactname">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'phone' | translate}}"   name="phone"  [(ngModel)]="phone">
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'email' | translate}}"  name="email"  [(ngModel)]="email">
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'currency' | translate}}"   name="currencies" [(ngModel)]="selectedcurrency">
                      <mat-option *ngFor="let currency of currencies" [value]="currency.ID">{{currency.Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'active' | translate}}" name="supplyactive" [(ngModel)]="supplyactive">
                      <mat-option value="yes">{{'yes' | translate}}</mat-option>
                      <mat-option value="no">{{'no' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="{{'paymenttype' | translate}}" name="supplypayment" [(ngModel)]="supplypayment">
                      <mat-option value="cash">{{'cash' | translate}}</mat-option>
                      <mat-option value="cheque">{{'cheque' | translate}}</mat-option>
                      <mat-option value="transfer">{{'transfer' | translate}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="{{'address' | translate}}" name="supplyaddress"  [(ngModel)]="supplyaddress"></textarea>
                  </mat-form-field>
                </section>
              </section>
              <section class="row ml-3">
                <section class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{'paymentname' | translate}}"  name="supplypname"  [(ngModel)]="supplypname">
                  </mat-form-field>
                </section>
           
              </section>
            <!-- <div class="modal-body ">
  form-control" >
 -group row">
                  <label>{{'paymentname' | translate}}</label>
                    <input  class="form-control" placeholder="Enter short name" name="supplypname" required [(ngModel)]="supplypname">
                </div>
          
              
                  
            </section>
          </section>
            </div> -->
            <div class="modal-footer">
              <button class="btn btn-primary" >{{'save' | translate}}</button>
            </div>
            </form>
        
          </div>
          </ng-template>
         
         


  <br><br>
      </section>
      <section class="col-md-9">
        <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
      
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'supplierid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'suppliername' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="ContactName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'contactname' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ContactName}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'active' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
          </ng-container>
        
      
         <!-- Symbol Column -->
         <ng-container matColumnDef="CreateDT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- <div class="card">
  
                <tr *ngFor="let supply of supplies">
                  <th scope="row">{{supply.ID}}</th>
                  <td>{{supply.Name}}</td>
                  <td>{{supply.ContactName}}</td>
                  <td>{{supply.Active}}</td>
                  <td>{{supply.CreateDT}}</td>
                </tr>
              </tbody>
            </table>
            </div>
            </div> -->
      </section>
  </section>
</section>





