<!-- <head>
  <link href="assets\bootstrap\bootstrap.css" rel="stylesheet">
  <link href="assets\bootstrap\bootstrap.min.css" rel="stylesheet">
</head> -->
<section class="container-fluide">
  <h2 class="">{{'purchaseorder' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3">
        <div class="card">
          <div class="card-body ">
          <form class="search-form" #form="ngForm" (ngSubmit)="Order(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'from' | translate}}" type="date" name="from" required [(ngModel)]="from">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'to' | translate}}" type="date" name="to" required [(ngModel)]="to">
            </mat-form-field><br>
 
            <mat-form-field>
              <mat-select placeholder="{{'supplier' | translate}}" name="supplier" required [(ngModel)]="selectedsupplier">
                <mat-option *ngFor="let supply of supplier" [value]="supply.ID">{{supply.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <mat-form-field>
              <mat-select placeholder="{{'status' | translate}}" name="status" required [(ngModel)]="status">
                <mat-option value="option">{{'all' | translate}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'poid' | translate}}" name="poid" required [(ngModel)]="poid">
            </mat-form-field><br>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form><br>
            <button class="success-bg btn-block log"(click)="openSm(content)" mat-raised-button >{{'Add' | translate}}</button>
          </div>
          </div>
            <ng-template #content let-modal>
              <div role="document">
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">{{'Add' | translate}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form #addform="ngForm" (ngSubmit)="AddOrder(addform.value)">
                <section class="row ml-3">
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'id' | translate}}"  readonly name="addid"  [(ngModel)]="addid">
                    </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'status' | translate}}"  readonly name="addstatus"  [(ngModel)]="addstatus">
                    </mat-form-field>
                  </section>
                </section>
                <section class="row ml-3">
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'ref' | translate}}"  readonly name="addref"  [(ngModel)]="addref">
                    </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'packsize' | translate}}"  readonly name="addpacksize"  [(ngModel)]="addpacksize">
                    </mat-form-field>
                  </section>
                </section>
                <section class="row ml-3">
                  <section class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="{{'supplier' | translate}}"  name="supplier" [(ngModel)]="selectedaddsupplier">
                        <mat-option *ngFor="let supply of supplier" [value]="supply.ID">{{supply.Name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field>
                      <mat-select placeholder="{{'item' | translate}}"  name="additem" [(ngModel)]="selecteditem">
                        <mat-option *ngFor="let item of additem"[value]="item.ID">{{item.Name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
                </section>
                <section class="row ml-3">
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'quntity' | translate}}" name="addquntity"  [(ngModel)]="addquntity">
                    </mat-form-field>
                  </section>
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="{{'packsize' | translate}}"  readonly name="packsize2"  [(ngModel)]="packsize2">
                    </mat-form-field>
                  </section>
                </section>
                <section class="row ml-3">
                  <section class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="{{'comment' | translate}}" name="comment"  [(ngModel)]="comment"></textarea>
                    </mat-form-field>
                  </section>
                  <section class="col-md-6 mt-3">
                    <button class="success-bg btn-block " (click)="selectName(item)" mat-raised-button >{{'Add' | translate}}</button>
                </section>
                </section>

              <!-- <section class="row">
                  <section class="col-md-6"></section>
                  <section class="col-md-6">
                      <button class="success-bg btn-block " (click)="selectName(item)" mat-raised-button >{{'Add' | translate}}</button>
                  </section>
              </section> -->
              <br>
              
              <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">{{'name' | translate}}</th>
                      <th scope="col">{{'quntity' | translate}}</th>
                      <th scope="col">{{'unitprice' | translate}}</th>
                      <th scope="col">{{'subtotal' | translate}}</th>
                      <th scope="col">{{'recieved' | translate}}</th>
                      <th scope="col">{{'packsize' | translate}}</th>
              
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let list of Lists">
                      <th scope="row">{{list.Name}}</th>
                      <td>{{list.Name}}</td>
                      <td>{{list.Quantity}}</td>
                      <td>{{list.Price}}</td>
                      <td>{{list.Quantity}}</td>
                      <td>{{list.Quantity}}</td>
                     
  
                    </tr>
                  </tbody>
                </table>
              <div class="modal-footer">
                <button class="btn btn-primary" >{{'save' | translate}}</button>
              </div>
              </form>
            </div>
            </ng-template>
         
  <br><br>
      </section>
      <section class="col-md-9">
        <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
      
        
          <!-- Name Column -->
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'id' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'supplier' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'total' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
          </ng-container>

          <ng-container matColumnDef="statusName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'status' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="CreateDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'createdt' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.CreateDT}} </td>
          </ng-container>

          <ng-container matColumnDef="CreateUID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'createuid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.CreateUID}} </td>
          </ng-container>

          <ng-container matColumnDef="ModifyDT">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'modifydt' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ModifyDT}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="ModifyUID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'modifyuid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.ModifyUID}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- <div class="card">
          <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'dbid' | translate}}</th>
                  <th scope="col">{{'id' | translate}}</th>
                  <th scope="col">{{'supplier' | translate}}</th>
                  <th scope="col">{{'total' | translate}}</th>
                  <th scope="col">{{'status' | translate}}</th>
                  <th scope="col">{{'createuid' | translate}}</th>
                  <th scope="col">{{'createdt' | translate}}</th>
                  <th scope="col">{{'modifyuid' | translate}}</th>
                  <th scope="col">{{'modifydt' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <th scope="row">{{order.ID}}</th>
                  <td>{{order.ID}}</td>
                  <td>{{order.Name}}</td>
                  <td>{{order.Total}}</td>
                  <td>{{order.statusName}}</td>
                  <td>{{order.CreateUID}}</td>
                  <td>{{order.CreateDT}}</td>
                  <td>{{order.ModifyUID}}</td>
                  <td>{{order.ModifyDT}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div> -->
      </section>
  </section>
</section>





