<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p></ngx-spinner>
  
<div class="container-fluide">
      <section class="card">
        <div class="card-header">{{'Doctor Info' | translate}}          
      </div>
      <div class="card-body">
        <p>{{bio}}</p>
        <p>{{ABio}}</p>
        <mat-divider></mat-divider><br>
        <section class="row justify-content-center">
          <section class="col-md-4 dash">
            <div class="row">
              <div class="col-md-6 mt-2 ml-2">
               <h5> {{'Personal Information' | translate}}</h5>
              </div>
              <div class="col-md-6"></div>
            </div>
            <section class="row justify-content-center">
            <img [src]='image'>
          </section>
          <section class="row justify-content-center">
            <section class="col-md-1"></section>
          <section class="col-md-5">
            <label>{{'Name in english'}} :</label>
          </section>
          <section class="col-md-6">
          <span>{{name}}</span>
        </section>
        <!-- <section class="col-md-1"></section> -->

        </section>
        <section class="row justify-content-center">
          <section class="col-md-1"></section>
        <section class="col-md-5">
          <label>{{'Name in arabic'}} :</label>
        </section>
        <section class="col-md-6">
        <span>{{AName}}</span>
      </section>
      <!-- <section class="col-md-1"></section> -->

      </section>
        <section class="row justify-content-center">
          <section class="col-md-1"></section>
        <section class="col-md-5">
          <label>{{'Title in english' | translate}} :</label>
        </section>
        <section class="col-md-6">
        <span>{{title}}</span>
      </section>
      <section class="col-md-1"></section>

      </section> 
      <section class="row justify-content-center">
        <section class="col-md-1"></section>
      <section class="col-md-5">
        <label>{{'Title in arabic' | translate}} :</label>
      </section>
      <section class="col-md-6">
      <span>{{ATitle}}</span>
    </section>
    <section class="col-md-1"></section>

    </section>    
        
            <!-- <section class="row">
              <section class="col-md-1"></section>
            <section class="col-md-4">
              <label>Address :</label>
            </section>
            <section class="col-md-6">
            <span>{{address}}</span>
          </section>
          <section class="col-md-1"></section>
  
          </section> -->
          </section>


          <section class="col-md-4 dash" >
            <div class="row">
              <div class="col-md-6 mt-2 ml-2">
               <h5> {{'Clinic Information' | translate}}</h5>
              </div>
              <div class="col-md-6"></div>
            </div>
            <section class="row justify-content-center">
            <img [src]='logo'>
          </section>
            <section class="row">
              <section class="col-md-1"></section>
              <section class="col-md-4">
                <label>{{'Price' | translate}} :</label>
              </section>
              <section class="col-md-4">
              <span>{{price}}</span>
            </section>
            <section class="col-md-3"></section>

            </section>
            <section class="row">
            <section class="col-md-1"></section>
            <section class="col-md-4">
              <label>{{'District' | translate}} :</label>
            </section>
            <section class="col-md-4">
            <span>{{district}}</span>
          </section>
          <section class="col-md-3"></section>
          </section> 

          <section class="row">
            <section class="col-md-1"></section>
          <section class="col-md-4">
            <label>{{'Bookings' | translate}} :</label>
          </section>
          <section class="col-md-4">
          <span>{{booking}}</span>
        </section>
        <section class="col-md-3"></section>

        </section>
          </section>

<!-- 
          <section class="col-md-3 dash" >
            <div class="row">
              <div class="col-md-6 mt-2 ml-2">
               <h5>Working Hours</h5>
              </div>
              <div class="col-md-6"></div>
            </div>
   
          </section> -->
        </section><br>
        <mat-divider></mat-divider><br>
<section class="row justify-content-center">
  <section class="col-md-3">
<h5>{{'Working Hours' | translate}}</h5>
  </section>
  <section class="col-md-9"></section>
</section>
        <section class=""  >
     
          <section class="row justify-content-center">
              <section class="col-md-3" >
                  <section class="card" >
                  <div class="card-header">{{'Sunday' | translate}}
                    </div> 
                    <div class="card-body" >
                        <section *ngFor="let try of work">
                        <section *ngIf="try.day == 1" style="border-bottom: 1px solid #ddd;">
                          <div class="">
                            <!-- <section class="col-md-6"></section> -->
                            <!-- <section class="col-md-6"> -->
                              <!-- <mat-icon style="font-size: small;cursor: pointer;" (click)="openLg(content)" title="edit"(click)="editRow(try)">edit</mat-icon> -->
                              <mat-icon style="font-size: small;;cursor: pointer" title="close" (click)="onRemove(try)">close</mat-icon>
                          <!-- </section> -->
                          
                          <!-- <mat-icon>close</mat-icon> -->
                          <div class="row">
                              <label class="col-md-4">{{'From' | translate}} : </label>
                              <p class="col-md-4">{{try.from}}</p>
                              <p class="col-md-4"> </p>
                          </div>
                          <div class="row">
                              <label class="col-md-4">{{'To' | translate}} : </label>
                              <p class="col-md-4">{{try.to}}</p>
                              <p class="col-md-4"></p>
                          </div>
                          <div class="row">
                              <label class="col-md-4">{{'Max' | translate}} : </label>
                              <p class="col-md-4">{{try.max}}</p>
                              <p class="col-md-4"></p>
                          </div>
                        </div>
                        <!-- <label>From :<span>{{try.from}}</span> </label><br>
                        <label>To : <span>{{try.to}}</span></label><br>
                        <label>Max: <span>{{try.max}}</span></label> -->
                      </section>
                  </section>
                    </div>
                  </section> 
              </section>
              <section class="col-md-3">
                  <section class="card">
                  <div class="card-header">{{'Monday' | translate}}
                    </div> 
                    <div class="card-body" >
                        <section *ngFor="let try of work">
                      <section *ngIf="try.day == 2" style="border-bottom: 1px solid #ddd;">
                          <div class="row">
                              <label class="col-md-4">{{'From' | translate}} : </label>
                              <p class="col-md-4">{{try.from}}</p>
                              <p class="col-md-4"></p>
                          </div>
                          <div class="row">
                              <label class="col-md-4">{{'To' | translate}} : </label>
                              <p class="col-md-4">{{try.to}}</p>
                              <p class="col-md-4"></p>
                          </div>
                          <div class="row">
                              <label class="col-md-4">{{'Max' | translate}} : </label>
                              <p class="col-md-4">{{try.max}}</p>
                              <p class="col-md-4"></p>
                          </div>
                        </section>
                      </section>
                  </div>
                  </section> 
              </section>
              <section class="col-md-3">
                  <section class="card">
                  <div class="card-header">{{'Tuesday' | translate}}
                    </div>
                    <div class="card-body">
                        <section  *ngFor="let try of work">
                      <section *ngIf="try.day == 3" style="border-bottom: 1px solid #ddd;">
                        <div class="row">
                          <label class="col-md-4">{{'From' | translate}} : </label>
                          <p class="col-md-4">{{try.from}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'To' | translate}} : </label>
                          <p class="col-md-4">{{try.to}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'Max' | translate}} : </label>
                          <p class="col-md-4">{{try.max}}</p>
                          <p class="col-md-4"></p>
                      </div>
                        </section>
                      </section>
                  </div> 
                  </section> 
              </section>
              <section class="col-md-3">
                  <section class="card">
                  <div class="card-header">{{'Wednesday' | translate}}
                    </div>
                    <div class="card-body">
                        <section  *ngFor="let try of work">
                      <section *ngIf="try.day == 4" style="border-bottom: 1px solid #ddd;">
                        <div class="row">
                          <label class="col-md-4">{{'From' | translate}} : </label>
                          <p class="col-md-4">{{try.from}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'To' | translate}} : </label>
                          <p class="col-md-4">{{try.to}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'Max' | translate}} : </label>
                          <p class="col-md-4">{{try.max}}</p>
                          <p class="col-md-4"></p>
                      </div>
                        </section>
                      </section>
                  </div> 
                  </section> 
              </section>
          </section>
          <br>
          <section class="row justify-content-center">
              <section class="col-md-3">
                  <section class="card">
                  <div class="card-header">{{'Thursday' | translate}}
                    </div> 
                    <div class="card-body" >
                        <section *ngFor="let try of work">
                      <section *ngIf="try.day == 5" style="border-bottom: 1px solid #ddd;">
                        <div class="row">
                          <label class="col-md-4">{{'From' | translate}} : </label>
                          <p class="col-md-4">{{try.from}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'To' | translate}} : </label>
                          <p class="col-md-4">{{try.to}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'Max' | translate}} : </label>
                          <p class="col-md-4">{{try.max}}</p>
                          <p class="col-md-4"></p>
                      </div>
                        </section>
                      </section>
                    </div>
                  </section> 
              </section>
      
              <section class="col-md-3">
                  <section class="card" >
                  <div class="card-header">{{'Friday' | translate}}
                    </div> 
                    <div class="card-body">
                        <section *ngFor="let try of work">
                      <section *ngIf="try.day == 6" style="border-bottom: 1px solid #ddd;">
                        <div class="row">
                          <label class="col-md-4">{{'From' | translate}} : </label>
                          <p class="col-md-4">{{try.from}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'To' | translate}} : </label>
                          <p class="col-md-4">{{try.to}}</p>
                          <p class="col-md-4"></p>
                      </div>
                      <div class="row">
                          <label class="col-md-4">{{'Max' | translate}} : </label>
                          <p class="col-md-4">{{try.max}}</p>
                          <p class="col-md-4"></p>
                      </div>
                        </section>
                      </section>
                    </div>
                  </section> 
              </section>
              <section class="col-md-3">
                  <section class="card">
                  <div class="card-header">{{'Saturday' | translate}}
                    </div> 
                    <div class="card-body" >
                        <section *ngFor="let try of work">    
                        <section *ngIf="try.day == 7" style="border-bottom: 1px solid #ddd;">
                          <div class="row">
                            <label class="col-md-4">{{'From' | translate}} : </label>
                            <p class="col-md-4">{{try.from}}</p>
                            <p class="col-md-4"></p>
                        </div>
                        <div class="row">
                            <label class="col-md-4">{{'To' | translate}} : </label>
                            <p class="col-md-4">{{try.to}}</p>
                            <p class="col-md-4"></p>
                        </div>
                        <div class="row">
                            <label class="col-md-4">{{'Max' | translate}} : </label>
                            <p class="col-md-4">{{try.max}}</p>
                            <p class="col-md-4"></p>
                        </div>
                    </section>
                  </section>
                  </div>
                  </section> 
              </section>
          </section>
          </section>
      </div>
      </section>
</div>