
img{
    width: 100px;
    height: 100px;
    padding:5px;
    border-radius: 50%;
}
.container-fluide{
    padding: 20px;
}
.card-header{
    text-align: center;
}
p{
    text-align: center;
    font-size: small;
    font-weight: lighter;
}
label{
    font-weight: 700;
}
span{
    font-weight: normal;
}
.dash{
    border: 1px solid rgb(196, 194, 194);
    border-radius: 20px;
    padding: 5px;
    margin: 5px
}