<section class="container-fluide">
  <h2 class="">{{'gbills' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3  ">
        <div class="card">
          <div class="card-body ">
          <form class="search-form" #form="ngForm" (ngSubmit)="Generate(form.value)">
       
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'bfrom' | translate}}" type="date" name="bfrom" required [(ngModel)]="bfrom">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'bto' | translate}}" type="date" name="bto" required [(ngModel)]="bto">
            </mat-form-field><br>
            <!-- <form class="search-form" #payerform="ngForm"> -->
              <mat-form-field>
                <mat-select placeholder="{{'payer' | translate}}" name="gpayer" required [(ngModel)]="selectedpayer">
                  <mat-option *ngFor="let payer of gpayer" [value]="payer.ID" >{{payer.Name}}</mat-option>
                </mat-select>
              </mat-form-field><br>

              <mat-form-field>
                <mat-select placeholder="{{'clinic' | translate}}" name="clinic" required [(ngModel)]="selectedclinic">
                  <mat-option *ngFor="let clinic of gclinic" [value]="clinic.ID" >{{clinic.Name}}</mat-option>
                </mat-select>
              </mat-form-field><br>
              <!-- </form> -->
            <!-- <mat-form-field>
              <mat-select placeholder="{{'clinic' | translate}}" name="clinic" required [(ngModel)]="selectedclinic">
                <mat-option *ngFor="let clinic of gclinic" [value]="clinic.ID" >{{clinic.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br> -->
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form>
</div>
</div>

  <br><br>
      </section>
      <section class="col-md-9 first">
        <div class=" example-container">
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
        
          <ng-container matColumnDef="visitID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'visite' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.visitID}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'patients' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'date' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
          </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="payerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'client' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
          </ng-container>

          <ng-container matColumnDef="clinicName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'clinic' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.clinicName}} </td>
          </ng-container>
          
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'amount' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- <div class="card">
          <div class="card-body ">
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'visite' | translate}}</th>
                  <th scope="col">{{'patients' | translate}}</th>
                  <th scope="col">{{'date' | translate}}</th>
                  <th scope="col">{{'client' | translate}}</th>
                  <th scope="col">{{'clinic' | translate}}</th>
                  <th scope="col">{{'amount' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoices">
                  <th scope="row">{{invoice.visitID}}</th>
                  <td>{{invoice.patient}}</td>
                  <td>{{invoice.Date}}</td>
                  <td>{{invoice.payerName}}</td>
                  <td>{{invoice.clinicName}}</td>
                  <td>{{invoice.Amount}}</td>

                </tr>
              </tbody>
            </table>
            </div>
            </div> -->
      </section>
  </section>
</section>