<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p></ngx-spinner>
  
  <div class="container-fluide">
  
<form #form="ngForm" (ngSubmit)="FilterClients(form.value)">
  <section class="row ">
    
    <section class="col-md-3 mt-3">
      <p >{{'Show All Clients' | translate}}</p>
    </section>
    <section class="col-md-3 ">
      <mat-form-field>
        <mat-select name="status" placeholder="Status" [(ngModel)]="selectedstatus">
          <mat-option value=" ">{{'All' | translate}}</mat-option>
          <mat-option value="active">{{'Active' | translate}}</mat-option>
          <mat-option value="inActive">{{'In active' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="col-md-3">
      <button class="btn btn-block mt-3">{{'Search' | translate}}</button>
    </section>
    <section class="col-md-3"></section>
  </section>
    <div class="mat-elevation-z8 example-container">
  
    <table mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="adminType">
        <th mat-header-cell *matHeaderCellDef> {{'Admin' | translate}} </th>
        <td mat-cell *matCellDef="let element"  >
          {{element.user.adminType}}
        </td>
      </ng-container>
     
      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> {{'Phone' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.user.phone}} </td>
        </ng-container>
      <!-- Weight Column -->
        <!-- Weight Column -->
        <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef> {{'user' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.user.userType}} </td>
          </ng-container>
        <!-- Weight Column -->
          <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
      </ng-container>
    <!-- Weight Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> {{'Create' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.user.createdAt | date:'short'}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> {{'Update' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.user.updatedAt | date:'short'}} </td>
      </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="pointer"> {{'Action' | translate}} </th>
                <td mat-cell *matCellDef="let element"> 
                  <!-- <mat-icon style="color:dodgerblue" class="pointer"  (click)="selectedRow(element)" (click)="openLg(content)" >edit </mat-icon>   -->
                  <mat-icon style="color:#ffae00"class="pointer" name="inactive" title="inactive" *ngIf="element.state === 'inActive'" (click)="Active(element)">highlight_off</mat-icon>  
                  <mat-icon style="color:green"class="pointer" name="active" title="active" *ngIf="element.state === 'active'" (click)="Active(element)">check_circle_outline</mat-icon>
                <mat-icon style="color:#212741 ;" title="booking">
                  <a [routerLink]="['/dashboard/booking/' + element._id]">booking
                  </a></mat-icon>  
              </td>
              </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align: center;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
    </form>
  </div>
  
  