<section class="container">
    <div class="card">
        <div class="card-header">
          {{'Add Subscription' | translate}}
        </div>
        <form #form="ngForm" (ngSubmit)="Add(form.value)">
        <div class="card-body ">
            <div class="container ml-5">
                
        <section class="row">
            <section class="col-md-6">
                <!-- <mat-form-field>
                    <input matInput placeholder="Start Date" type="date" name="startDate" [(ngModel)] = "startDate">
                </mat-form-field> -->
                <mat-form-field>
                    <mat-label>{{'Start Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" name="startDate" [(ngModel)] = "startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </section>
            <section class="col-md-6">
                <mat-form-field>
                    <mat-label>{{'End Date' | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker2" name="endDate" [(ngModel)] = "endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </section>
        </section>
        <section class="row">
            <section class="col-md-6">
                <mat-form-field>
                    <mat-select placeholder="{{'Doctor' | translate}}" name="doctors" [(ngModel)] = "selectedDoctor">
                      <mat-option *ngFor="let doctor of doctors" [value]="doctor._id">
                        {{doctor.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </section>
        </section>
    </div>
        </div>
        <div class="card-footer">
            <section class="row">
                <section class="col-md-9"></section>
                <section class="col-md-3">
                    <button class="primary-bg btn-block" mat-raised-button>{{'Save' | translate}}</button>
                </section>
            </section>
            
        </div>
    </form>
      </div>
    </section>