
.dash{
    border-right: 2px solid red;
}
table{
    transition: none !important;
    box-shadow: none !important;
}
.example-container{
    overflow: auto;
}
.mat-header-cell, .mat-cell {
    min-width: 110px;
}
td{
    cursor: pointer;
}
.element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  .mat-header-cell{
    color: rgb(158, 155, 155);
    font-weight: normal;
}
h1{
    text-align: center;
}
.scroll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 300px;
}
.scrolll{
    overflow-y: auto;
    // padding-bottom: 200px;
    height: 200px;
}
.container-fluide{
    padding: 20px;
}
.pointer{
    cursor: pointer;
}
h4{
    font-size: larger;

}
h2{
    font-size: larger;
    text-align: center;
    }
    th{
        font-size: small;
        font-weight: bold;
        color: rgba(22, 21, 21, 0.644);
    }