<section class="container-fluide">
  <h2 class="">{{'scollection' | translate}}</h2><br>
  <section class="row">
      <section class="col-md-3 ">
        <div class="card">
          <div class="card-body">
          <form class="search-form" #form="ngForm" (ngSubmit)="Collection(form.value)">
            <mat-form-field>
              <mat-select placeholder="{{'center' | translate}}" name="center2" required [(ngModel)]="selectedcenter">
                <mat-option *ngFor="let centerss of center2" [value]="centerss.ID" >{{centerss.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br>           
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'forder' | translate}}" type="date" name="forder" required [(ngModel)]="forder">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'torder' | translate}}" type="date" name="torder" required [(ngModel)]="torder">
            </mat-form-field><br>
            <mat-form-field>
             <mat-select placeholder="{{'status' | translate}}" name="status" required [(ngModel)]="selectedstatus">
                <mat-option *ngFor="let statuss of status" [value]="statuss.ID" >{{statuss.Name}}</mat-option>
              </mat-select>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'patient' | translate}}" name="patient" required [(ngModel)]="patient">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'visite' | translate}}" name="visite" required [(ngModel)]="visite">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'sample' | translate}}" name="sample" required [(ngModel)]="sample">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'namepl' | translate}}" name="name" required [(ngModel)]="name">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'mrn' | translate}}" name="mrn" required [(ngModel)]="mrn">
            </mat-form-field>
            <button class="success-bg btn-block log" mat-raised-button >{{'search' | translate}}</button>
          </form>
          </div>
          </div>
  <br><br>
      </section>
      <section class="col-md-9">
        <div class=" example-container">
          <table mat-table [dataSource]="dataSource" matSort   class="mat-elevation-z8">
            <ng-container matColumnDef="VisitId">
              <th mat-header-cell *matHeaderCellDef > {{'visite' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.VisitId}} </td>
            </ng-container>
            
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'visitedate' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'pname' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.Name}} </td>
            </ng-container>
          
  
            <ng-container matColumnDef="DOB">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'dob' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.DOB}} </td>
            </ng-container>
  
            <ng-container matColumnDef="gender_Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'gender' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.gender_Name}} </td>
            </ng-container>
            
            
            <ng-container matColumnDef="outSideCollectionDT">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'outside' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.outSideCollectionDT}} </td>
            </ng-container>
                    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
          </div>
        <!-- <div class="card">
          <div class="card-body">
        <section class="" >
          <table class="table table-hover"  >
              <thead>
                <tr>
                  <th scope="col">{{'visite' | translate}}</th>
                  <th scope="col">{{'visitedate' | translate}}</th>
                  <th scope="col">{{'pname' | translate}}</th>
                  <th scope="col">{{'dob' | translate}}</th>
                  <th scope="col">{{'gender' | translate}}</th>
                  <th scope="col">{{'outside' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let collection of collections"  (click)="selectCompany(collection)" class="pointer">
                  <th scope="row">{{collection.VisitId}}</th>
                  <td>{{collection.date}}</td>
                  <td>{{collection.Name}}</td>
                  <td>{{collection.DOB}}</td>
                  <td>{{collection.gender_Name}}</td>
                  <td>{{collection.outSideCollectionDT}}</td>

                </tr>
              </tbody>
            </table><br>
          </section>
          </div></div> --><br>
<h4> {{'orderdetials' | translate}}</h4>
<div class=" example-container">
  <table mat-table [dataSource]="data" matSort   class="mat-elevation-z8">
    <ng-container matColumnDef="SampleID">
      <th mat-header-cell *matHeaderCellDef > {{'sampleid' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.SampleID}} </td>
    </ng-container>
    
    <ng-container matColumnDef="TestName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'testname' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.TestName}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'category' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
    </ng-container>
  

    <ng-container matColumnDef="ProcCenter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'proccenter' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.ProcCenter}} </td>
    </ng-container>

    <ng-container matColumnDef="ResultDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'resultdate' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.ResultDate}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="StatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'statusname' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.StatusName}} </td>
    </ng-container>
            
    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator> -->
  </div>
<!-- <section class="scrolll">
<div class="card">
  <div class="card-body">

            <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">{{'sampleid' | translate}}</th>
                  <th scope="col">{{'testname' | translate}}</th>
                  <th scope="col">{{'category' | translate}}</th>
                  <th scope="col">{{'proccenter' | translate}}</th>
                  <th scope="col">{{'resultdate' | translate}}</th>
                  <th scope="col">{{'statusname' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detial of detials">
                  <th scope="row">{{detial.SampleID}}</th>
                  <td>{{detial.TestName}}</td>
                  <td>{{detial.Category}}</td>
                  <td>{{detial.ProcCenter}}</td>
                  <td>{{detial.ResultDate}}</td>
                  <td>{{detial.StatusName}}</td>

                </tr>
              </tbody>
            </table>
          
          </div>
          </div>
        </section> -->
      </section>
  </section>
</section>